/* 実際に使用している様子はこちらでご覧いただけます:
 * https://scp-jp.wikidot.com/component:flops-header
**/

/* ---- アイテム情報 ---- */

.itemInfo {
  position: relative;
  top: 0.5em;
  width: 100%;
  font-size: 0.9604rem;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

.alignL {
  position: relative;
  right: 0.195em;
}

.alignR {
  position: relative;
  left: 0.195em;
  text-align: right;
}

/* ---- 撹乱クラス ---- */

.disruptionHeader {
  display: inline-block;
  width: 100%;
  padding: 0.3em 0;
  color: hsl(0deg 0% 96%);
  font-size: 140%;
  text-align: center;
  text-shadow: 0.5px    0.9px  0 hsl(0deg 0% 0% / 30%),
    1.5px   2.6px  0 hsl(0deg 0% 0% / 30%);
  text-transform: uppercase;
}

.disruptionHeader a:hover {
  text-decoration: none;
}
