#page-title { display: none; }

.feature-block {
  height: 390px;
}

.feature-block .panel-body {
  overflow-y: hidden;
}

.feature-block .feature-title {
  font-size: 120%;
  font-weight: bold;
}

.feature-block .feature-subtitle {
  font-size: 90%;
}

.feature-block .feature-title > p,
.feature-block .feature-subtitle > p {
  margin: 0;
}

.news-block .panel-body {
  padding: 0;
}

.news-block .panel-body .alternate {
  padding: 5px 10px;
}

.news-block .news-title {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 5px;
  color: #663333;
}

.news-block .news-content {
  margin: 5px 0;
}

.news-block .news-title > p,
.news-block .news-content > p {
  margin: 0;
}

.international-block .panel-body {
  padding: 0;
}

.international-entry {
  padding: 5px 10px;
}

.international-entry:nth-child(even),
.alternate:nth-child(even) {
  background-color: rgb(255 255 255 / 90%);
  border-top: solid 1px #eeeee0;
  border-bottom: solid 1px #eeeee0;
}

.international-entry div > p {
  margin: 0;
}

.international-entry .international-title {
  font-weight: bold;
  font-size: 110%;
}

.international-entry .international-title img {
  width: 16px;
  height: 11px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.international-entry .international-description {
  font-size: 90%;
  font-style: italic;
  margin: 5px 20px;
}

.international-entry .international-footer {
  font-size: #333333;
  font-size: 80%;
  margin: 5px 0;
}
