@import url("https://fonts.googleapis.com/css?family=Short+Stack");

/*
    Super Cute Pets!
    [2014 Wikidot Theme]
    Created for the SCP Foundation by Aelanna
*/

/* COMMON */

h1,
#page-title {
  font-family: "Comic Sans MS", "Comic Sans", "Short Stack", cursive;
  color: #990099;
}

a {
  color: #bb00bb;
}

a.newpage {
  color: #dd66dd;
}

a:visited {
  color: #882288;
}

#side-bar a:visited {
  color: #bb00bb;
}

/* GLOBAL WIDTH */

div#container-wrap {
  background-image: url(http://scp-wiki.wdfiles.com/local--files/component%3Atheme/body_bg_af.png);
}

/* HEADER */

#header {
  background-image: url(http://scp-wiki.wdfiles.com/local--files/component%3Atheme/logo-af.png);
}

#search-top-box-input {
  border: solid 1px #669999;
  background-color: #330033;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
  border: solid 1px #ffffff;
  background-color: #660066;
}

#search-top-box-form input[type = "submit"] {
  border: solid 1px #669999;
  background-color: #663366;
  background: linear-gradient(to bottom, #996699, #660066, #330033);
}

#search-top-box-form input[type = "submit"]:hover,
#search-top-box-form input[type = "submit"]:focus {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #996699;
  background: linear-gradient(to bottom, #cc99cc, #996699, #663366);
}

#header h1 a,
#header h2 span {
  font-family: "Comic Sans MS", "Comic Sans", "Short Stack", cursive;
}

/* TOP MENU */

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
  color: #bb00bb;
}

/* SIDE MENU */

#side-bar .side-block {
  border: 1px solid #660066;
  box-shadow: 0 2px 6px rgb(102 0 102 / 50%);
}

#side-bar .heading {
  color: #660066;
  border-bottom: solid 1px #660066;
}

#side-bar .collapsible-block-unfolded-link {
  border-bottom: solid 1px #660066;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link {
  color: #660066;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
  color: #bb00bb;
}

/* Changes background for un-folded sidebar */
@media (max-width: 767px) {

  #side-bar {
    background-color: #990099;
  }
}

.side-block .menu-item > .image,
iframe.scpnet-interwiki-frame { /* Safari 6.0 - 9.0 */
  filter: hue-rotate(310deg) brightness(120%);
}

/* FOOTER */

#footer {
  background: #442244;
}

#footer a {
  color: #ffffff;
}

/* SOME NICE BOXES */

.content-panel {
  border: solid 1px #308088;
  background-color: #339099;
}

.content-panel.standalone {
  background: #fdfbfd;
}

/* Page Rating Module Customizations */

div.page-rate-widget-box .rate-points {
  background-color: #663366;
  border: solid 1px #663366;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
  background-color: #fff6f0;
  border-top: solid 1px #663366;
  border-bottom: solid 1px #663366;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
  color: #663366;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
  background: #663366;
  color: #fffff0;
}

.page-rate-widget-box .cancel {
  background-color: #663366;
  border: solid 1px #663366;
}

.page-rate-widget-box .cancel a {
  color: #996699;
}

.page-rate-widget-box .cancel a:hover {
  background: #663366;
  color: #fffff0;
}

/* LOGIN STATUS */

#login-status ul a {
  color: #bb00bb;
}
