:root {
  --swatch-menubg-color: var(--dark-gray-monochrome);
  --sidebar-links-text: var(--white-monochrome);
}

#side-bar {
  background: linear-gradient(
    rgb(var(--swatch-menubg-color) 1) 30%,
    rgb(var(--swatch-menubg-color) 0)
  ),
    linear-gradient(
    rgb(var(--swatch-menubg-color) 0),
    rgb(var(--swatch-menubg-color) 1) 70%
  ) 0 100%,
    radial-gradient(
    farthest-side at 50% 0,
    rgb(var(--swatch-primary-darkest) 0.5),
    rgb(var(--white-monochrome) 0)
  ),
    radial-gradient(
    farthest-side at 50% 100%,
    rgb(var(--swatch-primary-darkest) 0.5),
    rgb(var(--white-monochrome) 0)
  ) 0 100%;
  color: rgb(var(--swatch-text-light));
  scrollbar-color: rgb(var(--swatch-menubg-dark-color) 0)
    rgb(var(--swatch-menubg-dark-color) 0);
}

#side-bar div.menu-item .sub-text {
  color: rgb(var(--swatch-text-light) 0.75);
}

#side-bar div.menu-item > :not(:nth-child(2), .collapsible-block) {
  border-left: 0.125rem solid rgb(var(--white-monochrome) 0.08);
}

#side-bar:hover {
  scrollbar-color: rgb(var(--swatch-menubg-medium-color) 1)
    rgb(var(--swatch-menubg-dark-color) 1);
}

#side-bar::-webkit-scrollbar-thumb,
#side-bar::-webkit-scrollbar-track {
  background: rgb(var(--swatch-menubg-medium-color) 0);
}

#side-bar:hover::-webkit-scrollbar-track {
  background: rgb(var(--swatch-menubg-dark-color) 1);
}

#side-bar:hover::-webkit-scrollbar-thumb {
  background: rgb(var(--swatch-menubg-medium-color) 1);
}

iframe.scpnet-interwiki-frame {
  filter: invert(0.8) hue-rotate(180deg) saturate(0.5);
}
