@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");

.shushuInner {
  margin: 3em auto;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #000000, 0 0 0 3px #ffffff, 0 0 0 6px #000000;
}

.shushuInner h4 {
  margin: 0 0 0.6em;
  padding: 0.75em 0;
  border-bottom: 1px solid #bbbbbb;
  color: #486a8a;
  text-align: center;
  font-weight: normal;
  font-size: 200%;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Noto Serif JP", serif;
  unicode-bidi: bidi-override;
  font-feature-settings: "trad";
  font-feature-settings: "trad";
  font-variant-east-asian: traditional;
}

.shushuInner h4 > span {
  display: block;
  margin: 0 -0.5em;
}

.shushuInner h4 > span span {
  position: relative;
  display: inline-block;
}

.shushuInner h4 > span span::before,
.shushuInner h4 > span span::after {
  position: absolute;
  display: block;
}

.shushuInner h4 > span span:first-of-type {
  margin-bottom: 0.25em;
  padding: 0 1em;
}

.shushuInner h4 > span span:first-of-type::before {
  top: 0;
  left: 0;
  content: "「";
}

.shushuInner h4 > span span:first-of-type::after {
  right: 0;
  bottom: 0;
  content: "」";
}

.shushuInner h4 > span span[style = "font-size:60%;"] {
  padding: 0 0.5em;
  text-indent: 0.25em;
  letter-spacing: 0.25em;
}

.shushuInner h4 > span span[style = "font-size:60%;"]::before {
  top: 0;
  left: 0;
  content: "(";
}

.shushuInner h4 > span span[style = "font-size:60%;"]::after {
  right: 0;
  bottom: 0;
  content: ")";
}

.shushuInner blockquote,
.shushuInner .blockquote {
  border: 1px solid #c8c8c8;
  background: linear-gradient(285deg, #f0f0f0 0%, #ffffff 2%, #ffffff 8%, rgb(255 255 255 / 69%) 18%, rgb(255 255 255 / 19%) 34%, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 6%) 51%, rgb(255 255 255 / 14%) 66%, rgb(255 255 255 / 27%) 93%, #f0f0f0 99%), url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4053112-30-6su1/clearPaper.png");
  background: linear-gradient(285deg, #f0f0f0 0%, #ffffff 2%, #ffffff 8%, rgb(255 255 255 / 69%) 18%, rgb(255 255 255 / 19%) 34%, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 6%) 51%, rgb(255 255 255 / 14%) 66%, rgb(255 255 255 / 27%) 93%, #f0f0f0 99%), url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4053112-30-6su1/clearPaper.png");
  background: linear-gradient(285deg, #f0f0f0 0%, #ffffff 2%, #ffffff 8%, rgb(255 255 255 / 69%) 18%, rgb(255 255 255 / 19%) 34%, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 6%) 51%, rgb(255 255 255 / 14%) 66%, rgb(255 255 255 / 27%) 93%, #f0f0f0 99%), url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4053112-30-6su1/clearPaper.png");
  background: linear-gradient(165deg, #f0f0f0 0%, #ffffff 2%, #ffffff 8%, rgb(255 255 255 / 69%) 18%, rgb(255 255 255 / 19%) 34%, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 6%) 51%, rgb(255 255 255 / 14%) 66%, rgb(255 255 255 / 27%) 93%, #f0f0f0 99%), url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4053112-30-6su1/clearPaper.png");
  box-shadow: 0.25em 0.25em rgb(240 240 240 / 80%);
}

.shushuInner ol {
  list-style-type: cjk-ideographic;
}

.shushuInner .imageFrame {
  position: relative;
  float: left;
  box-sizing: border-box;
  margin: 1em 1em 1em 0.5em;
  padding: 0.5em 0.5em 1px;
  width: 300px;
  border: 1px solid #c8c8c8;
  background: linear-gradient(285deg, #f0f0f0 0%, #ffffff 2%, #ffffff 8%, rgb(255 255 255 / 69%) 18%, rgb(255 255 255 / 19%) 34%, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 6%) 51%, rgb(255 255 255 / 14%) 66%, rgb(255 255 255 / 27%) 93%, #f0f0f0 99%), url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4053112-30-6su1/clearPaper.png");
  background: linear-gradient(285deg, #f0f0f0 0%, #ffffff 2%, #ffffff 8%, rgb(255 255 255 / 69%) 18%, rgb(255 255 255 / 19%) 34%, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 6%) 51%, rgb(255 255 255 / 14%) 66%, rgb(255 255 255 / 27%) 93%, #f0f0f0 99%), url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4053112-30-6su1/clearPaper.png");
  background: linear-gradient(285deg, #f0f0f0 0%, #ffffff 2%, #ffffff 8%, rgb(255 255 255 / 69%) 18%, rgb(255 255 255 / 19%) 34%, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 6%) 51%, rgb(255 255 255 / 14%) 66%, rgb(255 255 255 / 27%) 93%, #f0f0f0 99%), url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4053112-30-6su1/clearPaper.png");
  background: linear-gradient(165deg, #f0f0f0 0%, #ffffff 2%, #ffffff 8%, rgb(255 255 255 / 69%) 18%, rgb(255 255 255 / 19%) 34%, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 6%) 51%, rgb(255 255 255 / 14%) 66%, rgb(255 255 255 / 27%) 93%, #f0f0f0 99%), url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4053112-30-6su1/clearPaper.png");
  box-shadow: 0.25em 0.25em rgb(240 240 240 / 80%);
  list-style-type: none;
}

.shushuInner .imageFrame.right {
  float: right;
  margin: 1em 0.5em 1em 1em;
}

.shushuInner .imageFrame.center {
  float: none;
  clear: both;
  margin: 1em auto;
}

.shushuInner .imageFrame::before {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
}

.shushuInner .imageFrame p {
  margin: 0 0 0.6em;
  text-align: center;
  line-height: 0.7;
}

.shushuInner .imageFrame hr {
  margin: 0 auto 0.3em;
  width: 80%;
}

.shushuInner .palette__color {
  margin-bottom: 0.5em;
  width: 100%;
  height: 130px;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 2px;
}
