/*
    Powered on 2019/09/06 03:05:59
    [2019 Wikidot Theme]
    Created by hey_kounoike
    Fixed by Nanigashi Sato & Mishary
    CC BY-SA 3.0
*/
 
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP&display=swap');
 
/* COMMON */
#page-content strong {
    font-weight: bold;
    margin-top: 4px;
}
body {
    font-family: 'Noto Serif JP';
}
div#container-wrap {
    background: url( http://scp-jp-storage.wdfiles.com/local--files/file%3A3282741-6-78jn/%E6%89%B6%E6%A1%91%E7%B4%80%E8%A3%85%E5%B9%80%E3%83%98%E3%83%83%E3%83%80%E3%83%BC%E8%83%8C%E6%99%AF.png) top left repeat-x;
}
div#header {
    background: url( http://scp-jp-storage.wdfiles.com/local--files/file%3A3282741-5-yh9l/Japanese_crest_Kiku_ni_Ichimonnji_2.svg ) 10px 40px no-repeat;
    background-size: 100px;
    background-position: 10px;
}
div#header h1 a span {
    font-size: 0px;
}
div#header h1 a:before {
    font-family: 'Noto Serif JP';
    content: "扶桑紀";
    color: rgb(68, 68, 68);;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}
div#header h2 span {
    font-size:0px;
    padding: 4px;
}
div#header h2:after {
    font-family: 'Noto Serif JP';
    content: "此處ニ戴スハ皇基國體";
    font-weight: bold;
    color: rgb(68, 68, 68);;
    padding: 19px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    white-space: pre;
}
#login-status {
    color: #333;
}
#login-status a {
    color: inherit;
}
#search-top-box-input {
    border: solid 1px #999;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: none;
    color: #000;
}
#search-top-box-input:hover, #search-top-box-input:focus {
    border: solid 1px #000;
    background-color: #fff;
    box-shadow: none;
    color: #000;
}
#search-top-box-form input[type=submit] {
    padding: 2px 5px;
    border: solid 1px #999;
    border-radius: 5px;
    background: none;
    background-color: #000;
    box-shadow: none;
    color: #ccc;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
}
#search-top-box-form input[type=submit]:hover, #search-top-box-form input[type=submit]:focus {
    border: solid 1px #000;
    background: none;
    background-color: #ccc;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
}
 
/* For Smartphone */
@media (max-width: 600px) {
 
    div#header {
        background-position: -5px 20px;
    }
 
    div#header h1 a {
        padding: 72px 0 10px 20px;
    }
 
    div#header h1 a:before {
        font-size: 160%;
    }
 
    div#header h2:after {
        padding: 0 0 0 20px;
    }
 
    div#search-top-box {
        top: 80px;
    }
 
    #search-top-box-input {
        display: none;
    }
 
}
 
/* J-style Ruby Font */
 
tt {
    font-family: 'Noto Serif JP', sans-serif;
}
 
/* CreditButton */
.page-rate-widget-box {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
div.page-rate-widget-box .rate-points {
    border: solid 1px #000;
    background-color: #000;
}
.page-rate-widget-box .rateup, .page-rate-widget-box .ratedown {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}
.page-rate-widget-box .rateup a, .page-rate-widget-box .ratedown a {
    color: #000;
}
.page-rate-widget-box .rateup a:hover, .page-rate-widget-box .ratedown a:hover {
    background: #000;
}
.page-rate-widget-box .cancel {
    border: solid 1px #000;
    background-color: #000;
}
.page-rate-widget-box .cancel a {
    color: #ccc;
}
.page-rate-widget-box .cancel a:hover {
    border-radius: 0 3px 3px 0;
    background: #000;
    color: #fffff0;
}
#page-content .rate-box-with-credit-button .creditButton {
    background-color: #000;
    border: 1px solid #000;
}
 
#page-content .rate-box-with-credit-button .creditButton:hover {
    background-color: #ccc;
    border: 1px solid #ccc;
}
 
 */
