@charset "utf-8";
 
/* 
    ZZZ theme
    [2019 Wikidot theme]
    Created by 7happy7, WotaliaSD, Dr Devan, NanimonoDemonai
    for af2019 in SCP-JP
    CC BY-SA 3.0
 */
 
body  {
    color: #730000;
}
a {
    color: hsla(0, 100%, 38%, 1);
}
 
div.open-menu a {
    color: #730000!important;
    border-color: #730000!important;
}
 
/* Z本体 */
div#header h2 span:before,
div#header h2 span:after {
    content: "Z";
    font-size: calc(180% * 1.9 / 1.05);
    color: #eee;
    background: transparent;
    font-family: BauhausLTDemi, Arial, sans-serif;
    text-shadow: 3px 3px 5px #000;
    letter-spacing: 0.9px;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    pointer-events: none;
}
/* Zのアニメーション */
div#header h2 span:before {
    animation: smoky 5s 0s infinite both;
}
div#header h2 span:after {
    animation: smoky-mirror 5s 2.5s infinite both;
}
/* Zのアニメーションの定義 */
@keyframes smoky {
  10% {
    text-shadow: 0 0 0 #666;
    color: #ddd;
    opacity: 1;
  }
  60% {
    text-shadow: 0 0 40px #666;
    color: #ddd;
    opacity: 0;
  }
  to {
    transform: translate3d(240px,-128px,0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px #666;
    color: #ddd;
    opacity: 0;
  }
}
@keyframes smoky-mirror {
  10% {
    text-shadow: 0 0 0 #666;
    color: #ddd;
    opacity: 1;
  }
  60% {
    text-shadow: 0 0 40px #666;
    color: #ddd;
    opacity: 0;
  }
  to {
    transform: translate3d(288px,-128px,0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
 
/* 
    花柄 by WotaliaSD
    ヘッダー by NanimonoDemonai
 */
div#container-wrap {
    background: url(http://scp-jp-sandbox3.wikidot.com/local--files/draft:7happy7-27-0a13/body_bg_4_1.png) top left repeat-x, url("http://scp-jp-sandbox3.wikidot.com/local--files/draft:7happy7-27-0a13/often.png");
}
 
/* タイトルの真ん中寄せなど */
#header h1 {
    margin: 0 auto;
    float: none;
    text-align: center;
}
#header h2 {
    pointer-events: none;
    margin: 0 auto;
    clear: both;
    float: none;
    text-align: center;
    width: 100%;
    height: 162px;
    min-height: 162px;
    position: absolute;
    top: 0;
    overflow: hidden;
}
/* SCP財団を非表示 */
div#header h1 a span {
    font-size: 0px;
}
/* 確保、収容、保護を非表示 */
div#header h2 span {
    color: transparent;
    text-shadow: none;
    padding: 0;
}
/* 疑似タイトル */
div#header h1 a:before {
    content: "SCP布団";
    color: #eee;
}
div#header h1 a:after {
    content: "起こさないで";
    display: block;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
    font-size: calc(16px * 0.8 * 1.05);
    font-weight: bold;
    color: #f0f0c0;
    padding: 19px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
    white-space: pre;
}
/* 枕 */
div#header h1 a span {
    font-size: 0px;
    display: block;
    position: absolute;
    width: calc(16px * 0.8 * 1.8 * 1.9 * 6);
    height: 95px;
    top: 16%;
    left: 0;
    right: 0;
    margin: auto;
    outline: 1px dashed #fff;
    outline-offset: -5px;
    padding: 5px;
    border-radius: 5px;
    background: radial-gradient(#fff 0, rgb(250,180,180) 100%);
    background: -webkit-radial-gradient(#fff 0, rgb(250,180,180) 100%);
    z-index: -1;
}
 
/* 各メディア毎のZと枕の大きさ */
@media (max-width: 410px) {
div#header h2 span:before,
div#header h2 span:after {
    font-size: calc(100% * 1.9 / 1.05 * 0.85);
}
div#header h1 a span {
    width: calc(16px * 0.8 * 0.75 * 1.9 * 5);
    top: 30%;
    height: calc(100px /1.8 * 0.75 + 20px);
}
}
@media (max-width: 479px) {
div#header h2 span:before,
div#header h2 span:after {
    font-size: calc(100% * 1.9 / 1.05 * 0.95);
}
div#header h1 a span {
    width: calc(16px * 0.8 * 0.85 * 1.9 * 6);
    top: 30%;
    height: calc(100px /1.8 * 0.85 + 20px);
}
}
@media (min-width: 480px) and (max-width: 580px) {
div#header h2 span:before,
div#header h2 span:after {
    font-size: calc(100% * 1.9 / 1.05 * 1.2);
}
div#header h1 a span {
    width: calc(16px * 0.8 * 1.2 * 1.9 * 6);
    height: calc(100px /1.8 * 1.2 + 20px);
}
}
@media (min-width: 581px) and (max-width: 767px) {
div#header h2 span:before,
div#header h2 span:after {
    font-size: calc(100% * 1.9 / 1.05 * 1.4);
}
div#header h1 a span {
    width: calc(16px * 0.8 * 1.4 * 1.9 * 6);
    height: calc(100px /1.8 * 1.4 + 15px);
}
}
@media (min-width: 768px) and (max-width: 979px) {
div#header h2 span:before,
div#header h2 span:after {
    font-size: calc(100% * 1.9 / 1.05 * 1.6);
}
div#header h1 a span {
    width: calc(16px * 0.8 * 1.6 * 1.9 * 6);
}
}
 
/* いろいろ */
div#header {
    background: none;
}
#login-status a#my-account,
#top-bar ul li a {
    color: #888;
    font-weight: normal;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
    color: #333;
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
    background: #fff;
}

#login-status #account-options a {
    color: #b01;
    text-shadow: none;
}
 
/* Minimalized Search Bar
Developed by the Wikidot Community */
#search-top-box input.btn {
    display: none;
}
 
#search-top-box input.text {
    position: absolute;
    right: 0;
    height: 20px;
    width: 24px;
    border-radius: 14px;
    border: 1px solid;
    border-color: rgba(215, 215, 215, 0);
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    padding: 2px 0;
    color: rgba(51, 51, 51, 0);
    transition: width .5s, color .5s, background .5s, border-color .5s;
    cursor: pointer;
}
 
#search-top-box-input {
    margin: 0;
}
 
#search-top-box form * {
    -webkit-appearance: none;
    outline: none;
}
 
#search-top-box form {
    width: 24px;
    height: 28px;
}
 
#search-top-box form:hover input.text {
    background: rgba(0, 0, 0, .188);
    border-color: rgba(215, 215, 215, 1);
}
 
#search-top-box form:hover input.text:focus {
    background: rgba(255, 255, 255, 1);
}
 
#search-top-box form:focus {
    width: 200px;
}
 
#search-top-box input.text:focus {
    width: 150px;
    padding: 2px 1em;
    color: rgba(51, 51, 51, 1);
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, .15) inset;
    border: 1px solid #D7D7D7;
    background: rgba(255, 255, 255, 1);
    cursor: text;
}
 
#search-top-box input.text.empty {
    font-size: 0;
}
 
#search-top-box form:before {
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'FontAwesome', 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 13px;
    content: '';
    width: 2em;
    height: 2em;
    padding: 0;
    color: #ccc;
    text-align: center;
    background-color: hsla(0, 100%, 40%, 1);
    background: linear-gradient(to bottom, hsla(0, 30%, 30%, 0.7), hsla(0, 30%, 50%, 0.7), hsla(0, 30%, 50%, 0.7));
    border-radius: 14px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
    line-height: 25px;
}
 
/* Interwiki */
iframe.html-block-iframe.scpnet-interwiki-frame {
    filter: hue-rotate(6deg) brightness(140%);
}
