/*
    SCP Straight On Till Morning
    [2015 Wikidot]
    Created for the SCP Foundation by Von Pincier. Credits to Reach, Aelanna and Crayne for the template.
*/

h1,
#page-title {
  color: #7f671d;
}

a,
a:visited,
a.newpage {
  color: #7f671d;
}

/* BODY */

body {
  background-color: #f3ebd4;
}

div#container-wrap {
  background-image: url("https://scp-jp.wdfiles.com/local--files/theme%3Asotm/SOTMbg.png");
}

/* HEADER */

#header {
  background: url("https://scp-jp.wdfiles.com/local--files/theme%3Asotm/FSFLogosmall.png") 0 6px no-repeat;
}

#search-top-box-input {
  border: solid 1px #86c288;
  color: #86c288;
  background-color: #020202;
  font-family: "CourierNew", "Courier", monospace;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
  border: solid 1px #86c288;
  color: #86c288;
  background-color: #020202;
}

#search-top-box-form input[type = "submit"] {
  border: solid 1px #86c288;
  color: #86c288;
  background: #020202;
}

#search-top-box-form input[type = "submit"]:hover,
#search-top-box-form input[type = "submit"]:focus {
  border: solid 1px #86c288;
  background: #020202;
}

#login-status {
  color: #86c288;
  font-family: "CourierNew", "Courier", monospace;
}

#login-status a {
  background: transparent;
  color: #86c288;
}

#login-status ul a {
  color: #86c288;
  background: #020202;
}

#login-status ul a:hover {
  color: white;
}

#account-topbutton {
  background: #cccccc;
  color: #86c288;
}

#header h1 a {
  font-size: 0%;
}

#header h2 span {
  font-size: 0%;
}

/* TOP MENU */

#top-bar {
  font-family: "CourierNew", "Courier", monospace;
}

#top-bar a {
  color: #020202;
  background: transparent;
}

#top-bar ul li a {
  padding: 10px 7px;
}

#top-bar ul li ul {
  border: solid 1px #666666;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
  background: #f0dda2;
  color: #020202;
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
  background: #020202;
  color: #86c288;
}

#top-bar ul li ul a,
#top-bar a:hover {
  color: #f0dda2;
}

/* SIDE MENU */

#side-bar .side-block,
#interwiki .side-block {
  background: #020202 !important;
  border: 5px solid #f0dda2;
  box-shadow: none;
  color: white;
  font-family: "CourierNew", "Courier", monospace;
}

#side-bar .heading,
#interwiki .heading {
  border-bottom: solid 1px white;
  color: white;
}

#side-bar a,
#side-bar a:visited,
#interwiki a,
#interwiki a:visited {
  color: #86c288;
}

#side-bar .collapsible-block-unfolded-link {
  border-bottom: solid 1px white;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link {
  color: white;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
  color: #86c288;
}

/* Page Rating Module Customizations */

.page-rate-widget-box {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
  margin-bottom: 10px;
  margin-right: 2em;
}

div.page-rate-widget-box .rate-points {
  background-color: #020202;
  border: solid 5px #f0dda2;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
  background-color: #020202;
  border-top: solid 5px #f0dda2;
  border-bottom: solid 5px #f0dda2;
  font-weight: bold;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
  background: transparent;
  color: #86c288;
  padding: 0 4px;
  margin: 0 1px;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
  background: #020202;
  color: #86c288;
  text-decoration: none;
}

.page-rate-widget-box .cancel {
  background-color: #020202;
  border: solid 5px #f0dda2;
  border-left: 0;
  border-radius: 0 5px 5px 0;
}

.page-rate-widget-box .cancel a {
  background: transparent;
  color: #86c288;
}

.page-rate-widget-box .cancel a:hover {
  border-radius: 0 3px 3px 0;
  background: #020202;
  color: #86c288;
}

/* YUI-TABS */

.yui-navset .yui-content {
  background-color: #f3ebd4;
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
  background-color: #020202;
  color: #f2f2f2;
  background-image: url(none);
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
  background: #020202 url(none) repeat-x left -1400px; /* selected tab background */
  color: #86c288;
}

.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {
  background: #020202 url(none) repeat-x left -1300px;
  color: #86c288;
  text-decoration: none;
}

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
  border-color: #f0dda2;
}

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
  border-color: #f0dda2;
}

@media (max-width: 767px) {

  #side-bar {
    background-color: #020202;
  }

  #header {
    background-size: auto 70px;
    background-position-y: 30px;
  }
}

/* Localization for SCP-JP */

/* Info-Rate */

#page-content .creditRate .rate-box-with-credit-button {
  background-color: #020202;
  border: solid 5px #f0dda2;
}

#page-content .creditRate .page-rate-widget-box,
#page-content .creditRate .page-rate-widget-box .cancel {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#page-content .creditRate .page-rate-widget-box span {
  border: none 0;
}

#page-content .creditRate .creditButton p a {
  border-color: #f0dda2;
}

#page-content .modalbox {
  background: linear-gradient(#f0dda2 51px, #f3ebd4 51px);
  box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
}

/* Credit */

#page-content .creditRate.creditModule .rate-box-with-credit-button {
  border: none 0;
}

#page-content .creditRate.creditModule .page-rate-widget-box,
#page-content .creditRate.creditModule .creditButton {
  background-color: #020202;
  border: solid 5px #f0dda2;
}

#page-content .creditRate.creditModule .page-rate-widget-box,
#page-content .creditRate.creditModule .page-rate-widget-box .cancel {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#page-content .creditRate.creditModule .page-rate-widget-box span {
  height: 16px;
}

#page-content .creditRate.creditModule .page-rate-widget-box .cancel a,
#page-content .creditRate.creditModule .page-rate-widget-box .cancel a:hover {
  padding: 2px 5px;
  color: #86c288;
}

#page-content .creditRate.creditModule .creditButton {
  box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
}

#page-content .creditRate.creditModule .creditButton a,
#page-content .creditRate.creditModule .creditButton a:hover {
  color: #86c288;
}

#page-content .creditBottomRate .page-rate-widget-box span {
  box-sizing: content-box;
  height: 16px;
}

#page-content .modalbox .modalbox-title {
  height: 51px;
  background: #000000;
  color: #ffffff;
}

#page-content .modalbox .page-rate-widget-box {
  box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
}

#page-content .modalbox .page-rate-widget-box .cancel a,
#page-content .modalbox .page-rate-widget-box .cancel a:hover {
  padding: 2px 5px;
  color: #86c288;
}

/* Header Link */

#header h1 a {
  position: absolute;
  top: 50px;
  left: 240px;
  width: 300px;
  height: 60px;
  max-height: unset;
  padding: 0;
}

@media (max-width: 767px) {

  #header h1 a {
    left: 140px;
    width: 175px;
    height: 60px;
  }
}

/* Side Bar */

#side-bar div.menu-item .sub-text {
  color: #aaaaaa;
}

/* SIDE BAR ICONS */

#side-bar .side-block .menu-item img:not([src *= "twitter" i], [src *= "discord" i]),
#interwiki .side-block .menu-item img {
  display: none;
}

#side-bar .side-block .collapsible-block-folded {
  background: none;
}

#side-bar .side-block .collapsible-block-folded a.collapsible-block-link {
  margin-left: 0;
}

#side-bar .side-block .collapsible-block-folded a.collapsible-block-link::before,
#side-bar .side-block .menu-item img + a::before,
#interwiki .side-block .menu-item img + a::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 2px;
  filter: invert(1) hue-rotate(300deg) saturate(1);
}

#side-bar .side-block .menu-item img[src *= "default"] + a::before,
#interwiki .side-block .menu-item img[src *= "default"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/default.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "forum"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/forum.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "help"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/help.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "home"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/home.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "main"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/main.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "series"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/series.png") 0 2px no-repeat;
}

#side-bar .side-block .collapsible-block-folded a.collapsible-block-link::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/expand.png") 0 2px no-repeat;
}
