@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@supports(display: grid) {
    :root {
    	/* Typefaces */
    	--body-font: "JetBrains Mono", Recursive, Consolas, monaco, monospace;
    	--header-font: var(--header-font);
    	--title-font: var(--header-font);
    	--mono-font: var(--header-font);
    	--UI-font: var(--header-font);

    	/* Standard Colors */

    	--white-monochrome: 238, 238, 216;
    	--pale-gray-monochrome: 233, 231, 204;
    	--light-gray-monochrome: 147, 147, 147;
    	--gray-monochrome: 127, 127, 127;
    	--dark-gray-monochrome: 101, 101, 101;
    	--black-monochrome: 25, 20, 16;
    	--bright-accent: 145, 179, 153;
    	--medium-accent: 145, 179, 153;
    	--dark-accent: 105, 133, 111;

    	--swatch-text-general: var(--swatch-text-dark);

    	--logo-image: url("https://scp-jp.wdfiles.com/local--files/theme%3Ascp-offices-theme/scpoffices_logo.svg");

    	--background-gradient-color: 215, 215, 215;
    	--background-gradient-distance: 40rem;

    	/* Link Colors */
    	--link-color: var(--bright-accent);
    	--visited-link-color: var(--dark-accent);
    	--hover-link-color: var(--dark-accent);
    	--newpage-color: 221, 102, 17;
    }
    #container-wrap-wrap {
    	background-image:
    		repeating-linear-gradient(180deg,
    			hsla(0, 0%, 100%, 0),
    			hsla(0, 0%, 100%, 0) 0.25vh,
    			rgba(88, 88, 88, 0.1) 0.35vh,
    			rgba(88, 88, 88, 0.2) 0.5vh),
    		linear-gradient(to bottom,
     				rgba(var(--black-monochrome), 1) var(--header-height-on-desktop),
    			rgba(var(--gray-monochrome), 1) calc(var(--header-height-on-desktop) + 0.125rem),
    			rgba(var(--gray-monochrome), 1) calc(100% - 0.125rem),
    			rgba(var(--gray-monochrome), 1) calc(100% - 0.125rem),
    			rgba(var(--black-monochrome), 1) 100%);
    	background-repeat: no-repeat;
    	background-size:
    		100% var(--header-height-on-desktop),
    		100% var(--final-header-height-on-desktop);
    }
    a {
    	--wght: 900;
    	font-weight: 900;
    }
    #header h2 span::before {
    	color: rgb(var(--bright-accent));
    }
    #header h1 *,
    #top-bar *,
    #page-title * {
    	will-change: opacity;
    	transition: opacity 0.2s ease-in-out;
    }
    #header h1 a:hover::before,
    #header h1 a:hover::after,
    #top-bar a:hover,
    #page-title:hover,
    #search-top-box-form input[type="submit"]:hover,
    #search-top-box-form input[type="submit"]:focus {
    	-webkit-animation: flicker 20s linear infinite;
    	animation: flicker 20s linear infinite;
    }
    #side-bar .collapsible-block-unfolded {
    	background: unset;
    }
    #side-bar div.menu-item a.collapsible-block-link,
    #side-bar .side-block>.collapsible-block a.collapsible-block-link {
    	background: rgba(var(--medium-accent), 0.5);
    }
    #side-bar .close-menu::before {
    	line-height: 0.85em !important;
    }
    #side-bar .heading p,
    #side-bar .collapsible-block .collapsible-block-link {
    	color: rgb(var(--swatch-primary-darkest))
    }
    #side-bar div.menu-item a,
    #side-bar div.menu-item .text {
    	--wght: 900;
    	font-weight: 900;
    }
    #side-bar div.menu-item a:hover,
    #side-bar div.menu-item a:active {
    	-webkit-animation: flicker 20s linear infinite;
    	animation: flicker 20s linear infinite;
    	color: rgb(var(--swatch-text-tertiary-color));
    }
    #side-bar div.menu-item a:focus-within {
    	-webkit-animation: flicker 20s linear infinite;
    	animation: flicker 20s linear infinite;
    	color: rgb(var(--swatch-text-tertiary-color));
    }
    .info-container .collapsible-block-folded,
    .info-container .collapsible-block-unfolded-link {
    	background: rgb(var(--bright-accent)) !important;
    }
    div[id*="page-options-bottom"] {
    	--ui-wght: 600;
    	--ui-hvr-wght: 600;
    	font-size: calc(var(--base-font-size) * 0.75);
    }
    @media only screen and (max-width: 56.25rem) {
    	#header {
    		background-repeat: no-repeat, repeat;
    		background-position: left calc(5vw + 5.5rem - 10.4rem) top calc(4% - var(--offset-from-page-top) / 2), top center;
    		background-size: calc(8.75rem + var(--offset-from-page-top)), 100% var(--header-height-on-desktop);
    	}
    }
    @-webkit-keyframes flicker {
    	0% {
    		opacity: 1;
    	}
    	5% {
    		opacity: .9;
    	}
    	6% {
    		opacity: .8;
    	}
    	11% {
    		opacity: .4;
    	}
    	11.25% {
    		opacity: .6;
    	}
    	11.5% {
    		opacity: .4;
    	}
    	18% {
    		opacity: 1;
    	}
    	18.5% {
    		opacity: .9;
    	}
    	22% {
    		opacity: 1;
    	}
    	38.5% {
    		opacity: 1;
    	}
    	39% {
    		opacity: .8;
    	}
    	42% {
    		opacity: 1;
    	}
    	60% {
    		opacity: 1;
    	}
    	60.5% {
    		opacity: 0;
    	}
    	62% {
    		opacity: 0;
    	}
    	63% {
    		opacity: .2;
    	}
    	63.25% {
    		opacity: 0;
    	}
    	65% {
    		opacity: 1;
    	}
    	73% {
    		opacity: 1;
    	}
    	75% {
    		opacity: .8;
    	}
    	79% {
    		opacity: 1;
    	}
    	100% {
    		opacity: 1;
    	}
    }
    @-webkit-keyframes flicker {
    	0% {
    		opacity: 1;
    	}
    	5% {
    		opacity: .9;
    	}
    	6% {
    		opacity: .8;
    	}
    	11% {
    		opacity: .4;
    	}
    	11.25% {
    		opacity: .6;
    	}
    	11.5% {
    		opacity: .4;
    	}
    	18% {
    		opacity: 1;
    	}
    	18.5% {
    		opacity: .9;
    	}
    	22% {
    		opacity: 1;
    	}
    	38.5% {
    		opacity: 1;
    	}
    	39% {
    		opacity: .8;
    	}
    	42% {
    		opacity: 1;
    	}
    	60% {
    		opacity: 1;
    	}
    	60.5% {
    		opacity: 0;
    	}
    	62% {
    		opacity: 0;
    	}
    	63% {
    		opacity: .2;
    	}
    	63.25% {
    		opacity: 0;
    	}
    	65% {
    		opacity: 1;
    	}
    	73% {
    		opacity: 1;
    	}
    	75% {
    		opacity: .8;
    	}
    	79% {
    		opacity: 1;
    	}
    	100% {
    		opacity: 1;
    	}
    }
}
