@import url("https://scp-jp.wdfiles.com/local--code/fragment%3Ablack-highlighter-theme-source/1");
@import url("https://scp-jp.wdfiles.com/local--code/fragment%3Ablack-highlighter-theme-source/2");
@import url("https://scp-jp.wdfiles.com/local--code/fragment%3Ablack-highlighter-theme-source/3");

:root {
  --logo-image: url("https://scp-jp.wdfiles.com/local--files/theme%3Ascp-offices-theme/scpoffices_logo.svg");
}

.scp-image-block.block-right {
  margin: 1em 0 1em 2em;
}

.scp-image-block a {
  width: 100%;
  min-width: 100%;
}

.scp-image-block img {
  min-width: 100%;
  border: 0.5rem solid rgba(var(--pale-gray-monochrome));
  box-sizing: border-box;
}

#page-content > div.scp-image-block.block-right > a {
  background-color: rgb(var(--gray-monochrome));
}

#page-content > div.scp-image-block.block-right > a > img {
  padding: 1em;
}
