@import url(/files/theme/sigma-9/sigma-9.css);
/*
  Sigma9 Customizable Header
  --author: ukwhatn
  --source: http://scp-jp-sandbox3.wikidot.com/draft:3396310-168-9905
  --license: CC BY-SA 3.0 ( http://creativecommons.org/licenses/by-sa/3.0 )
*/

#container-wrap {
    --c-header: linear-gradient(180deg, black 25%, #002bbd 100%);
    --c-topbar: linear-gradient(180deg, #535353 0%, #3c3c3c 53%);
}

div#container-wrap {
    background: url("/files/util/storage/media/component/theme/header-bg.png") top left repeat-x, var(--c-header) top left repeat-x;
    background-size: 100px 141px;
}

div#container-wrap::after {
    content: "";
    display: block;
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    height: 23px;
    box-shadow: 3px 2px 25px -2px rgba(0,0,0,0.75);
    background: var(--c-topbar) top left repeat-x;
}

#header h1 a {
    font-size: 150%;
}

@media(max-width:768px) {
  #header h1 a span {
    font-size: 0px;
  }

  #header h1 a::before {
    content: "SCP-JP ストレージ";
    font-size: 25px;
  }
}