table {
  font-family: "Work Sans", "verdana", "arial", "helvetica", sans-serif;
  font-weight: 500;
}

table strong {
  font-weight: 800 !important;
}

#page-content .wiki-content-table {
  width: 33%;
}

.basaltBanner p {
  line-height: 0px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.basaltBanner,
.basaltIcon {
  transition-duration: 0.3s;
  transition-property: transform, box-shadow, filter, background-image;
  transform: translateZ(0);
}

.basaltBanner:hover {
  transform: scale(0.9);
}

.basaltIcon:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 0 7px rgb(20 20 20);
}

.basaltIcon:hover > div {
  filter: drop-shadow(0 0 5px rgb(0 0 0 / 80%));
}

@media (max-width: 767px) {

  .themeText {
    display: none;
  }
}
