:root {
  --sidelogo: url(http://scp-jp-storage.wdfiles.com/local--files/file:5722815-22-kg1l/basalt_logotype_darkmode.png);
}

#side-bar {
  background: linear-gradient(0deg, rgb(20 20 20 / 100%) 87%, rgb(5 5 5 / 100%) 100%);
  color: #ededed;
}

#side-bar::before {
  border-color: #ededed;
}

#side-bar a {
  color: #ededed;
}

#side-bar a:visited {
  color: #ededed;
}

#side-bar img,
iframe.scpnet-interwiki-frame {
  filter: grayscale(100%) saturate(0%) invert(100%);
}

#side-bar .side-block {
  background: linear-gradient(180deg, rgb(25 25 25 / 100%) 0%, rgb(10 10 10 / 100%) 100%);
  box-shadow: 0 0 8px 4px rgb(0 0 0 / 70%);
}

#side-bar .side-block.media {
  background-color: rgb(25 25 25) !important;
  border-bottom: solid 4px rgb(19 19 19);
  border-top: solid 2px rgb(19 19 19);
}

#side-bar .heading {
  color: #ededed;
  border-bottom: solid 1px #f9f9f9;
}

#side-bar .collapsible-block-folded {
  filter: invert(1);
}

#side-bar .collapsible-block-unfolded-link {
  border-bottom: solid 1px #ededed;
}

#side-bar .collapsible-block-unfolded-link .collapsible-block-link,
#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
  color: #f9f9f9;
}

#side-bar .side-block.resources {
  background: #101010;
}

#side-bar::-webkit-scrollbar-thumb {
  background: rgb(40 40 40);
}

#side-bar::-webkit-scrollbar-thumb:hover {
  background: rgb(55 55 55);
}

#side-bar::-webkit-scrollbar-track {
  background: rgb(20 20 20) !important;
}

/* FOR JP */

#side-bar .side-block .menu-item .sub-text {
  color: #999999;
}

#side-bar .side-block .collapsible-block-folded a.collapsible-block-link {
  filter: invert(1);
}

#side-bar .side-block .collapsible-block-unfolded-link a.collapsible-block-link:hover {
  color: #cecece;
}

#side-bar img,
iframe.scpnet-interwiki-frame {
  filter: none;
}

#side-bar img:not([src *= "twitter" i], [src *= "discord" i]) {
  filter: grayscale(100%) saturate(0%) invert(100%);
}
