/* epic trans moment - CSS by Orison */

div#container-wrap {
  background: url("http://scp-jp-storage.wikidot.com/local--files/file:7974444-10-ltc0/Trans-CSS-File.png") top left repeat-x;
}

#container-wrap-wrap {
  color: #ffffff;
  background: #f7a8b8;
  background: linear-gradient(-45deg, #55cdfc, #f7a8b8, #ffffff, #f7a8b8, #55cdfc, #f7a8b8, #ffffff, #f7a8b8, #55cdfc, #f7a8b8, #ffffff, #f7a8b8, #55cdfc, #f7a8b8, #ffffff, #f7a8b8, #55cdfc);
  background-size: 400% 200%;
  animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

#container {
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 400px, rgb(0 0 0 / 0%) 1px, rgb(255 255 255 / 100%) 0);
  color: #222222;
}

@keyframes Gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
