/* epic trans moment - CSS by Orison*/

div#container-wrap{
    background: url("http://scp-jp-storage.wikidot.com/local--files/file:7974444-10-ltc0/Trans-CSS-File.png") top left repeat-x;
}

#container-wrap-wrap{
    color: #fff;
    background: #F7A8B8;
    background: linear-gradient(-45deg, #55CDFC, #F7A8B8, #FFFFFF, #F7A8B8, #55CDFC,  #F7A8B8, #FFFFFF, #F7A8B8, #55CDFC, #F7A8B8, #FFFFFF, #F7A8B8, #55CDFC,  #F7A8B8, #FFFFFF, #F7A8B8, #55CDFC);
    background-size: 400% 200%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

#container{
    background: linear-gradient(180deg, rgba(0,0,0,0) 400px,rgba(0,0,0,0) 1px, rgba(255,255,255,1) 0px);
    color: #222;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* epic trans moment - CSS by Uncle Nicolini from here*/

#header {
    background-image: url(http://scp-jp-storage.wikidot.com/local--files/file:7974444-9-5omr/TransSCPlogo.png) !important;
}

#license-area {
    font-size: x-small;
    background: #5bcefa;
    color: black;
}

#license-area a {
    color: #056c94;
}

/* you are my sunshine, my only sunshine */

#footer {
    font-size: x-small;
    background: #ffafc7;
    color: black;
}

#footer a {
    color: #e51f47;
}
