@charset "utf-8";
/* [[*user W Asriel]]によるカノン「深淵の光同修会」のテーマです。
背景テクスチャはPhotoshopのデフォルトテクスチャを改変したものです。
一部のコードは財団メインテーマ及び第三法則テーマを参考にしています。 */

/* HEADER */

div#container-wrap {
    background: url(http://scp-wiki-cn.wikidot.com/local--files/abyssal-light/Abyssal_Background.jpg) top left repeat-x;
}

#header h1 {
    margin-left: 15%;
    padding: 0;
    float: left;
    max-height: 90px;
}

#header h2 {
    margin-left: 15%;
    padding: 0;
    clear: left;
    float: left;
    font-size: 105%;
    max-height: 38px;
}

#header h1 a {
    display: block;
    margin: 0;
    padding: 80px 0 25px;
    line-height: 0px;
    max-height: 0px;
    color: transparent;
    background: transparent;
    font-size: 120%;
    text-shadow: none;
    text-decoration: none;
}

#header h1 a::before {
    content: "深淵の光同修会";
    color: #FFD306;
    text-shadow: 3px 3px 5px #000000;
}

#header h2 span {
    display: block;
    margin: 0;
    padding: 19px 0;
    line-height: 0px;
    max-height: 0px;
    color: transparent;
    text-shadow: none;
}

#header h2 span::before {
    content: '　真理の神の祝福あれ　';
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}

#login-status {
    color: #FFFFFF;
    font-size: 90%;
    z-index: 30;
}
#login-status a {
    background: transparent;
    color: #FFF8D7;
}
#login-status ul a {
    color: #2f2e4d;
    background: transparent;
}


/* --------------- */

/* SIDEBAR */

#side-bar .side-block {
background: url(http://scp-wiki-cn.wdfiles.com/local--files/abyssal-light/blue.jpg) repeat;
}

#side-bar a {
color: #FFD306;
}

#side-bar .heading {
    color: #FFED97;
    border-bottom: solid 1px #FFED97;
}

#side-bar div.menu-item.inactive a {
    color: #FFED97;
}
#side-bar div.menu-item .sub-text {
    font-size: 80%;
    color: #FFED97;
}

#side-bar .collapsible-block-unfolded-link {
    border-bottom: solid 1px #FFED97;
}

#page-title {
    color: #2f2e4d;
}
/* --------------- */


/* YUI-TABS */
.yui-navset .yui-content{
    background-color:transparent;
    background-color:rgba(0,0,0,0.1);
    padding-left: 2em;
    padding-right: 2em;
}
.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
    background-color: #CCCCCC;
}
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus, 
.yui-navset .yui-nav .selected a:hover { 
    background: #2f2e4d; 
    color: #FFD306;
}
.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {
    background: #FFF8D7;
    text-decoration: none;
}
.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
    border-color: #2f2e4d;
}
.yui-navset li {
    line-height: normal;
}


/*----------*/


/* DIV-BLOCKS */

.abyssal blockquote{
    border: 1px dashed #FFD306;
    padding: 0 1em;
    background-color: transparent;
}

.abyssal {
 font-family: Courier New, Courier, monospace; 
 padding: 10px 30px; 
 color:#FFFFFF; 
 background: url(http://scp-wiki-cn.wdfiles.com/local--files/abyssal-light/blue.jpg) repeat;
 text-shadow: 1px 1px 1px rgba(0,0,0,.5);
 box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    border: 1px solid #bbbbbb;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius:10px;     
}

.abyssal h1{
    color:#FFD306;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
}

.abyssal h2,h3,h4,h5,h6{
    color:#FFED97;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
}

.abyssal .yui-navset .yui-nav .selected a,
.abyssal .yui-navset .yui-nav .selected a:focus, 
.abyssal .yui-navset .yui-nav .selected a:hover { 
    background: #FFD306; 
    color: #000000;
}
.abyssal .yui-navset .yui-nav,
.abyssal .yui-navset .yui-navset-top .yui-nav {
    border-color: #FFD306;
}

.abyssal .code { 
    background-color:transparent;
}

.abyssal a {
color: #FFD306;
}
/* -------------- */

/* RATE MODULE */

div.page-rate-widget-box .rate-points {
    background-color: #2f2e4d;
    border: solid 1px #312259;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    color: #FFF8D7;
}
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
    background-color: #404d7e;
    border-top: solid 1px #312259;
    border-bottom: solid 1px #312259;
    font-weight: bold;
}
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
    background: transparent;
    color: #FFF8D7;
    padding: 0 4px;
    margin: 0 1px;
}
.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
    background: #2f2e4d;
    color: #FFD306;
    text-decoration: none;
}
.page-rate-widget-box .cancel {
    background-color: #2f2e4d;
    border: solid 1px #312259;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}
.page-rate-widget-box .cancel a {
    background: transparent;
    text-transform: uppercase;
    color: #FFF8D7;
}
.page-rate-widget-box .cancel a:hover {
    border-radius: 0 3px 3px 0;
    background: #2f2e4d;
    color: #FFD306;
    text-decoration: none;
}

/* ------------- */

/* クレジットモジュール */
 
.rate-box-with-credit-button {
    background-color: #2f2e4d  !important;
    border: solid 1px #312259  !important;
    border-radius: 5px 0 0 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
.creditButton p a {
    border-left-color: #FFD306;
}
 
/* ------------- */
 
/* その他微調整 */
 
.scpnet-interwiki-frame{
     filter: invert(0.85)  sepia(90%) hue-rotate(204deg) brightness(100%) saturate(210%);
}
 
::-webkit-scrollbar-thumb:horizontal {
        border-radius: 10px;
        background-color: #FFD306;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    }
 
/* ------------- */

