body .anom-bar > .bottom-box {
  box-shadow: 0 -0.5rem 0 0 rgb({$accent-one}) !important;
  box-shadow: 0 -0.5rem 0 0 rgb({$accent-one}) !important;
}

body .anom-bar > .bottom-box::before {
  background-color: rgb({$accent-one});
}

body .text-part > .main-class::before {
  border: 0.25rem solid rgb({$accent-two});
}

body .anom-bar-container.esoteric .text-part > .main-class::before {
  top: 0.5rem;
  right: 1.25rem;
  width: 5rem;
  border-radius: calc(3.53125rem / 2);
  border-radius: calc(3.53125rem / 2);
  background-color: rgb(3 3 3);
  border-color: rgb({$accent-two});
  filter: invert(0);
  background-image: url("http://scp-jp-storage.wikidot.com/local--files/file:7522555-149-olg4/esoteric-icon.svg");
  background-size: 75% 75%;
  background-size: 75% 75%;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: left -10px center;
  background-clip: border-box;
}

body .anom-bar-container.esoteric .text-part > .main-class::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
  width: 3.53125rem;
  height: 3.53125rem;
  border-radius: 50%;
  border-radius: 50%;
  border: 0.25rem solid rgb({$accent-two});
  background-size: contain;
  background-size: contain;
  background-size: contain;
  background-position: center center;
}

body .text-part .disrupt-class::after,
body .text-part .risk-class::after,
body .text-part .disrupt-class::before,
body .text-part .risk-class::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: flex;
  display: -moz-box;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border-radius: 50%;
  border: 0.25rem solid rgb({$accent-two});
  width: 2.5rem;
  height: 2.5rem;
  top: calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
  font-size: 2em;
  background-color: rgb(252 252 252);
  background-color: rgb(var(--swatch-background, 252, 252, 252));
  background-size: contain;
  background-size: contain;
  background-size: contain;
  background-position: center center;
}

body .text-part .disrupt-class::before,
body .text-part .risk-class::before {
  display: -webkit-box;
  display: flex;
  display: -moz-box;
  display: flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: rgb({$accent-two});
  width: 3rem;
  height: 3rem;
  top: calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
  border: 0;
  right: 1rem;
  text-align: left;
  font-size: 1em;
  padding-left: 0.5rem;
  color: rgb(252 252 252);
  color: rgb(var(--swatch-text-secondary-color, 252, 252, 252));
}

body .bottom-box > .diamond-part {
  box-shadow: -0.5rem 0 0 0 rgb({$accent-one});
  box-shadow: -0.5rem 0 0 0 rgb({$accent-one});
}

body .danger-diamond > .arrows {
  background-color: rgb({$accent-one});
}

body .danger-diamond > .top-icon,
body .danger-diamond > .right-icon,
body .danger-diamond > .left-icon,
body .danger-diamond > .bottom-icon {
  border: 0.1875rem solid rgb({$accent-two});
}

body .anom-bar-container .text-part .disrupt-class::before,
body .anom-bar-container .text-part .risk-class::before {
  color: rgb({$class-number-color}) !important;
}
