@charset "utf-8";
@import url("http://cdn.dcodes.net/2/divider/css/dc_divider.css");
@import url('http://scp-jp.wdfiles.com/local--theme/scp-sigma-9-off-canvas/style.css');
#page-content .creditRate div.page-rate-widget-box .rate-points {
    background-color: #6b4a2b;
    border: solid 1px #6b4a2b;
}
#content-wrap {
    height: 1500px;
}
h1,
#page-title {
    color: #6b4a2b;
    font-family: sansationregular,sans-serif;
    text-align: center;
}
#page-title {
    border-color: #6b4a2b;
    font-family: sansationregular,sans-serif;
    font-weight: bold;
}
li,
p {
    line-height: 150%;
}
a {
    color: #b22222;
}
a.newpage {
    color: #b22222;
}
body {
    font-family: sansationregular,normal;
}
div#container-wrap {
    background: url(http://scp-jp.wdfiles.com/local--files/elma-hub/ElMA-hed.png) top left 90% repeat-x;
}
#header {
    background: url(http://scp-jp.wdfiles.com/local--files/elma-hub/ElMA-NAME2.png) 40px 6px no-repeat;
    background-position: 1em;
    background-size: 47%;
}
#search-top-box-input {
    background-color: #ffffff;
    border: solid 1px #ffffff;
    color: #ffffff;
}
#search-top-box-input:hover,
#search-top-box-input:focus {
    background-color: #ffffff;
    color: #000;
}
#search-top-box-form input[type=submit] {
    background: linear-gradient(to bottom,#ffffff,#ffffff,#ffffff);
    background-color: #ffffff;
    border: solid 1px #ffffff;
    color: #6b4a2b;
}
#search-top-box-form input[type=submit]:hover,
#search-top-box-form input[type=submit]:focus {
    background: linear-gradient(to bottom,#f5f5f5,#f5f5f5,#f5f5f5);
    background-color: #f5f5f5;
    color: #6b4a2b;
}
#login-status {
    color: #ffffff;
}
#login-status a {
    color: #ffffff;
}
#login-status ul a {
    color: #6b4a2b;
}
#account-topbutton {
    background: #fff;
    color: #ffffff;
}
#header h2 {
    clear: left;
    font-size: 105%;
}
#header h1 a {
    color: transparent;
    font-family: sansationregular;
    font-size: 0%;
}
#header h2 span {
    color: #6b4a2b;
    font-family: quanticoregular,sans-serif;
    font-size: 0%;
}
#top-bar {
    font-family: quanticoregular,sans-serif;
}
#top-bar ul li ul {
    border: solid 1px #3d2b1f;
}
#top-bar ul li:last-of-type ul {
    right: 0;
}
#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
    background: #f0f8ff;
    color: #6b4a2b;
}
#top-bar ul li ul a,
#top-bar a:hover {
    color: #6b4a2b;
}
#side-bar {
    font-family: quanticoregular,sans-serif;
    left: -2em;
}
#side-bar .side-block {
    background: #CEC9C3;
    border: 3px solid #6b4a2b;
}
#side-bar .heading {
    border-bottom: solid 1px #6b4a2b;
    color: #6b4a2b;
}
#side-bar div.menu-item.inactive a,
#side-bar div.menu-item .sub-text {
    color: #6b4a2b;
}
#side-bar .collapsible-block-unfolded-link {
    border-bottom: solid 1px #6b4a2b;
}
#side-bar .collapsible-block-unfolded-link .collapsible-block-link,
#side-bar .collapsible-block-unfolded-link .collapsible-block-link:hover {
    color: #6b4a2b;
}
#main-content {
    margin: 0 0 0 19em;
    padding: 0;
}
.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
    background-image: url(../images/yuitabs.png);
}
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus,
.yui-navset .yui-nav .selected a:hover {
    background: #6b4a2b url(../images/yuitabs.png) repeat-x left -1400px;
}
.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {
    background: #6b4a2b url(../images/yuitabs.png) repeat-x left -1300px;
}
.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
    border-color: #6b4a2b;
}
#footer {
    background: #3d2b1f;
    color: #6b4a2b;
}
div.wiki-note {
    background-color: #d2b48c;
    background-image: url(http://unofficial-scp-sandbox-jp.wikidot.com/local--files/component:mcf-theme/MCF-7.png);
    background-position: center;
    background-repeat: no-repeat;
    border: double 2px #6b4a2b;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    font-family: sansationregular,serif;
    margin: 5% 20%;
    padding: 7px 10px;
    text-align: center;
    width: auto;
}
div.sexy-box {
    background-color: #fff;
    background-image: url(http://scp-jp-storage.wdfiles.com/local--files/portal%3A3461191/back-elma.png);
    background-position: center;
    background-repeat: no-repeat;
    border: solid 4px #6b4a2b;
    clear: both;
    font-family: sansationregular,serif;
    margin: 1% 10%;
    padding: 1px 15px;
    width: auto;
}
div.page-rate-widget-box .rate-points {
    background-color: #6b4a2b;
    border: solid 1px #6b4a2b;
    font-family: sansationregular,sans-serif !important;
}
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
    background-color: #f0f8ff;
    border-bottom: solid 1px #6b4a2b;
    border-top: solid 1px #6b4a2b;
}
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
    color: #6b4a2b;
}
.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
    background: #6b4a2b;
    color: #6b4a2b;
}
.page-rate-widget-box .cancel {
    background-color: #6b4a2b;
    border: solid 1px #6b4a2b;
}
.page-rate-widget-box .cancel a {
    color: #f0ffff;
}
.page-rate-widget-box .cancel a:hover {
    background: #6b4a2b;
    color: #f0ffff;
}
#page-content .creditButton p a {
    background: #6b4a2b !important;
}
.rate-box-with-credit-button .creditButton {
    background-color: #6b4a2b !important;
    border: solid 1px #6b4a2b !important;
}
.creditButton a:hover {
    color: #6b4a2b !important;
}
.heritage-rating-module {
    background-color: #6b4a2b;
    border: solid 1px #6b4a2b;
    margin-right: 2em;
    padding: 2px 8px 2px 5px;
}
.scp-image-block {
    border: solid 1px #6b4a2b;
    clear: right;
    float: right;
    margin: 0 2em 1em 2em;
}
.scp-image-block .scp-image-caption {
    background-color: #CEC9C3;
    border-top: solid 1px #6b4a2b;
}
.thread-container .post .head {
    background: linear-gradient(to right,#f0f8ff,#eeecec);
    background-color: #f0f8ff;
}
@media (max-width: 479px) {
    #page-content div.title {
        word-break: keep-all;
    }
}
@media (max-width: 319px) {
    #header {
        background-position: 1em;
        background-size: 75%;
    }
}
@media (min-width: 320px) and (max-width: 580px) {
    #header {
        background-position: 1em;
        background-size: 83%;
    }
}
@media (min-width: 581px) and (max-width: 767px) {
    #header {
        background-position: 1em;
        background-size: 77%;
    }
    #search-top-box-input {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #header {
        background-position: 1em;
        background-size: 63%;
    }
}
@media (min-width: 980px) and (max-width: 1024px) {
    #header {
        background-position: 1em;
        background-size: 47%;
    }
}
@media (min-width: 480px) and (max-width: 580px) {
    #page-content div.title {
        word-break: keep-all;
    }
}
@media (max-width: 767px) {
    #side-bar {
        background-color: #CEC9C3;
        left: -25em;
    }
    #main-content{
        margin: 0 5%;
    }
    #side-bar:target {
        border: none;
    }
}
