/*

Code Lisence
    Powered on 2020/02/19 15:01:35
    [2020 Wikidot Theme]
    Created by snoj
    Edited by Nanigashi Sato & ukwhatn & RTa_technology
    CC BY-SA 3.0

Image Lisence

  広報とよほThemeヘッダー / http://scp-jp-storage.wikidot.com/file:3282741-137-7ges
    ソース: http://scp-jp.wikidot.com/tono-logo
    ライセンス: CC BY-SA 3.0
    タイトル: toyoho-header-haikei.png
    著作権者: snoj
    公開年: 2020
    補足: Nanigashi Satoにより透過加工

  遠野妖怪保護区ロゴ(二代目-透過) / http://scp-jp-storage.wikidot.com/file:3282741-127-1twv
    ソース: http://scp-jp.wikidot.com/tono-logo
    ライセンス: CC BY-SA 3.0
    タイトル: tono_green.png
    著作権者: snoj
    公開年: 2020
*/

/* Header */

div#container-wrap {
  background: url(http://scp-jp-storage.wdfiles.com/local--files/file%3A3282741-137-7ges/toyoho-header-haikei.png) top left repeat-x;
}

div#header {
  background: url(http://scp-jp-storage.wdfiles.com/local--files/file%3A3282741-127-1twv/tono_green.png) 25px 55px no-repeat;
  position: relative;
  background-size: 68px 68px;
}

@media (max-width: 580px) {

  div#header {
    background-position: 12px 55px;
  }
}

@media (max-width: 479px) {

  div#header {
    background-position: 0 55px;
  }
}

div#header h1 a span {
  font-size: 0;
}

div#header h1 a::before {
  content: "遠野妖怪保護区";
  color: #4d4d4d;
  text-shadow: 0 0 1px;
  font-family: "MS ゴシック", "Microsoft JhengHei", "PMingLiU";
}

div#header h2 span {
  font-size: 0;
  padding: 4px;
}

div#header h2::after {
  content: "公式ウェブサイト";
  font-weight: bold;
  margin: 0 1px;
  color: #4d4d4d;
  padding: 19px 0;
  text-shadow: 0 0 1px;
  white-space: pre;
  font-family: "MS ゴシック", "PMingLiU", "Microsoft JhengHei";
}

/* Font */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap");

/* Body */

#container #main-content #page-title {
  color: #40806a;
}

#html-body {
  background-color: #ffffff;
}

#page-content .shushuInner h1,
h2,
h3,
h4,
h5,
h6 {
  color: #40806a;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

a {
  color: #0c8a2d;
}

a:hover {
  color: #0c8a2db0;
}

#side-bar .side-block a {
  color: #bb0011;
}

/* Toyoho */

.toyoho-caption {
  text-align: center;
  font-size: 300%;
  color: #5c6662;
  font-family: "方正姚体";
}

.toyoho-block {
  margin: 3em auto;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #4d9980, 0 0 0 3px #ffffff, 0 0 0 6px #4d9980;
}

.toyoho-block .header {
  text-align: center;
  font-size: 200%;
  font-weight: normal;
  color: #40806a;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  margin: 0 0 0.6em;
  border-bottom: 1px solid #bbbbbb;
}

.toyoho-notice-b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 2em;
}

.toyoho-notice {
  width: 40%;
  padding: 1.5em;
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(7 124 39 / 50%) 100%);
  box-shadow: 3px 5px 7px rgb(0 0 0 / 50%);
  box-sizing: border-box;
}

@media (max-width: 480px) {

  .toyoho-notice-b {
    display: block;
  }

  .toyoho-notice {
    float: none;
    width: 100%;
    margin-top: 1em;
  }
}

.otoiawase {
  text-align: center;
  border: solid 2px #000000;
  padding: 1px 15px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

/* Rate＆Credit */

#container .page-rate-widget-box {
  border-radius: 0;
  background-color: #dddddd;
  height: 18px;
}

#container div.page-rate-widget-box .rate-points {
  background-color: #666666;
  color: #ffffff;
  font-weight: bold;
  padding: 0 10px;
  border: none;
  border-radius: 0;
}

#container .page-rate-widget-box .rateup,
#container .page-rate-widget-box .ratedown {
  border: none;
  background-color: transparent;
  height: 18px;
}

#container .page-rate-widget-box .rateup a:hover {
  color: #028760;
}

#container .page-rate-widget-box .ratedown a:hover {
  color: #e2041b;
}

#container .page-rate-widget-box .cancel a:hover {
  border-radius: 0;
  color: #0095d9;
}

#container .page-rate-widget-box a {
  text-decoration: none;
  color: #000000;
  padding: 0 5px;
}

#container .page-rate-widget-box a:hover {
  background-color: #dddddd;
}

#container .page-rate-widget-box .cancel,
.page-rate-widget-box .cancel a {
  border-radius: 0;
}

#container .page-rate-widget-box .cancel {
  background-color: transparent;
  border: none;
  padding: 0 2px;
}

#page-content .rate-box-with-credit-button .creditButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 18px;
  background-color: #666666;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
  margin-left: 0;
}

#page-content .rate-box-with-credit-button .creditButton a:hover {
  font-size: large;
  color: #ffffff;
}

.modalbox .modalbox-title h2 {
  color: #333333;
}
