@import url("https://fonts.googleapis.com/css?family=Homenaje");
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --deepsea: linear-gradient(t        o bottom,
     b(0,0,101),
       23,0,82),
         0,0))  ;
}

div#container-wrap {
  background: url(none);
}

div#extra-div-1 {
  height: 140px;
  width: 100%;
  top: 0;
  position: absolute;
  background-color: rgb(23 0 127);
  background-image: var(--deepsea);
}

div#extra-div-2 {
  height: 23px;
  width: 100%;
  top: 140px;
  position: absolute;
  background: linear-gradient(
    to top,
    rgb(59 59 59),
    rgb(83 83 83)
  );
  border-bottom: 2px solid rgb(188 184 185 / 50%);
}

#header {
  background-image: url("http://scp-jp-storage.wikidot.com/local--files/file:5875210-2-nxpc/%E3%83%97%E3%83%AD%E3%83%A1%E3%83%86%E3%82%A6%E3%82%B9%E3%83%AD%E3%82%B4%E3%83%9B%E3%83%AF%E3%82%A4%E3%83%88.png");
}

#header h1 a {
  color: transparent;
  text-shadow: none;
  font-family: "Homenaje", sans-serif;
}

#header h1 a::before {
  color: #f3f3f3;
  letter-spacing: 3px;
  content: "PROMETHEUS LABS";
  font-size: 125%;
  text-shadow: -1px -1px 0 #282828, 1px -1px 0 #282828, -1px 1px 0 #282828, 1px 1px 0 #282828;
}

#header h2 span {
  color: transparent;
  text-shadow: none;
}

#header h2 span::before {
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  content: "With study and intuition, the mystical becomes common.";
  color: rgb(173 171 181);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 80%);
}

#header .button,
#header .text,
#header .text:active {
  border-radius: 20px !important;
}

#login-status {
  font-weight: bold;
  color: rgb(173 171 181);
}

#login-status a {
  color: white;
}

#login-status ul {
  background-color: rgb(23 0 127);
  background-image: var(--deepsea);
}

#login-status ul a {
  color: rgb(173 171 181);
  background: transparent;
}

#login-status ul a:hover {
  color: white;
}

#search-top-box-input {
  background-color: #000033;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
  background-color: #333366;
}

#search-top-box-form input[type = "submit"] {
  background-color: #333366;
  background: linear-gradient(to bottom, #666699, #333366, #000033);
}

#search-top-box-form input[type = "submit"]:hover,
#search-top-box-form input[type = "submit"]:focus {
  background-color: #666699;
  background: linear-gradient(to bottom, #9999cc, #666699, #333366);
}

#top-bar ul li ul {
  background-color: rgb(23 0 127);
  background-image: var(--deepsea);
  border: solid 1px rgb(0 0 102);
}

#top-bar ul li:hover a[href = "javascript:;"] {
  background: rgb(41 41 41);
}

#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
  border-top: 1px solid transparent;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
  background: transparent;
  color: rgb(173 171 181);
}

#top-bar ul li ul a {
  color: rgb(173 171 181);
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
  background: rgb(195 200 220);
  color: #1100bb;
}

body {
  background: linear-gradient(
    to bottom,
    rgb(200 200 200),
    rgb(245 245 245) 400px
  );
}

h1,
#page-title {
  color: rgb(44 46 100);
}

#page-title {
  border-color: rgb(44 46 100);
  font-family: "Saira Stencil One", cursive;
  text-align: center;
}

::-webkit-scrollbar {
  width: initial;
  height: initial;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(175 175 175 / 70%);
  border-radius: 5px;
  border: 1px solid black;
}

::-webkit-scrollbar-track {
  background-color: rgb(23 0 127);
  background-image: var(--deepsea);
}

::selection {
  background: rgb(35 35 180 / 25%);
}

#side-bar a,
#side-bar a:visited,
#side-bar a.newpage {
  color: rgb(173 171 181);
}

#side-bar .side-block {
  background-color: rgb(23 0 127);
  background-image: var(--deepsea);
  border: 1px solid black;
  box-shadow: 0 2px 6px rgb(0 0 102 / 50%);
  color: white;
}

#side-bar .side-block.media,
#side-bar .side-block.resources {
  background-color: rgb(23 0 127);
  background-image: var(--deepsea);
}

#side-bar .heading {
  color: white;
  border-color: white;
}

iframe.scpnet-interwiki-frame,
.side-block .menu-item > .image {
  filter: grayscale(100%) invert(1);
}

#footer {
  background: rgb(23 0 82);
}

a {
  color: rgb(17 0 187);
}

a.newpage {
  color: rgb(17 102 221);
}

a:visited {
  color: rgb(17 0 153);
}

.buttons .btn,
#lock-info {
  border-color: rgb(100 100 100);
  background-color: rgb(235 235 235);
}

div.page-rate-widget-box .rate-points {
  background-color: #333366;
  border: solid 1px #333366;
  text-transform: capitalize;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
  background-color: #f0f6ff;
  border-top: solid 1px #333366;
  border-bottom: solid 1px #333366;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
  color: #333366;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
  background: #333366;
  color: #f0ffff;
}

.page-rate-widget-box .cancel {
  background-color: #333366;
  border: solid 1px #333366;
}

.page-rate-widget-box .cancel a {
  color: #666699;
}

.page-rate-widget-box .cancel a:hover {
  background: #333366;
  color: #f0ffff;
}

blockquote,
div.blockquote,
.code {
  background: rgb(235 235 235);
}

table.wiki-content-table th {
  background-color: rgb(225 225 225);
}

.scp-image-block {
  border: solid 1px rgb(0 0 102);
  box-shadow: 0 1px 6px rgb(0 0 0 / 25%);
}

.scp-image-block .scp-image-caption {
  background-color: rgb(235 235 235);
  border-top: solid 1px rgb(0 0 102);
}

div.woaf-hr {
  height: 0.3em;
  background: linear-gradient(
    to right,
    rgb(0 0 0),
    rgb(23 0 82),
    rgb(0 0 101),
    rgb(23 0 82),
    rgb(0 0 0)
  );
  margin: 1em 0;
  border-radius: 5px;
}

div.woaf-hr p,
div.woaf-hr ul {
  display: none;
}

.document {
  border-radius: 10px;
  border: solid 1px #cccccc;
  background: #ebebeb;
  width: 96.5%;
  padding: 10px;
  box-shadow: 0 2px 4px rgb(68 68 68 / 50%);
  margin: 1.25em auto;
  text-align: justify;
}

#page-content .rate-box-with-credit-button .creditButton {
  background-color: #333366;
  border: 1px solid #333366;
  border-radius: 15px;
}

#page-content .rate-box-with-credit-button .creditButton:hover {
  background-color: #333366;
  border: 1px solid #333366;
}

#page-content .rate-box-with-credit-button .creditButton a {
  color: white;
}

#page-content .rate-box-with-credit-button .creditButton a:hover {
  color: white;
}
