body {
  text-size-adjust: 110%;
}

.vpoem {
  text-indent: 0;
  writing-mode: vertical-rl;
  margin: auto;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  font-family: "KaiTi", "MS PMincho", "STKaiti", "HiraMinProN-W6", "Hiragino Kaku Gothic Pro", "MS PGothic", serif;
}

.vpoem p {
  line-height: 1.4;
  margin: 0 auto;
}

.vpoem tt {
  vertical-align: middle;
  font-family: "KaiTi", "MS PMincho", "STKaiti", "HiraMinProN-W6", "Hiragino Kaku Gothic Pro", "MS PGothic", serif;
}

@media screen and (max-width: 767px) {

  .vpoem {
    font-size: 1.5em;
  }
}

span[style = "text-decoration: line-through;"] {   /* Safari */
  display: inline-flex; /* Safari */
  flex-direction: column;
  vertical-align: bottom;
}

span[style = "text-decoration: line-through;"] > tt {
  font-size: 50%;
  line-height: 0.5em;
}

.tategaki span[style = "text-decoration: line-through;"] > tt {
  line-height: 1em;
}

.tategaki span[style = "text-decoration: line-through;"] {
  vertical-align: 0.3em;
}

.tategaki blockquote {
  padding: 2em 0.5em;
}

.tategaki tt {
  vertical-align: middle;
  font-family: "ヒラギノ明朝 Pro W3", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.tategaki .henoji::before {
  content: "〳〵";
  color: rgb(51 51 51 / 100%);
  opacity: 1;
  transform: scale(1, 1) rotateX(0) translateY(0);
}

.tategaki .dhenoji::before {
  content: "〴〵";
  color: rgb(51 51 51 / 100%);
  opacity: 1;
  transform: scale(1, 1) rotateX(0) translateY(0);
}

.tategaki .dhenoji::after {
  content: "";
  color: rgb(51 51 51 / 100%);
  opacity: 1;
  transform: scale(1, 1) rotateX(0) translateY(0);
}

.tategaki {
  -webkit-columns-axis: vertical;
  columns: auto 20em;
  column-gap: 20px;
  column-rule: 1px solid #dddddd;
  column-fill: auto;
  columns: auto 20em;
  column-gap: 20px;
  column-rule: 1px solid #dddddd;
  column-fill: auto;
  font-size: small;
  overflow-y: scroll;
  width: calc(100% + 3em);
  padding-right: 2em;
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-family: "ヒラギノ明朝 Pro W3", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.tategaki {
  -webkit-column-axis: vertical;
  columns: auto 20em;
  column-gap: 20px;
  column-rule: 1px solid #dddddd;
  column-fill: auto;
  columns: auto 20em;
  column-gap: 20px;
  column-rule: 1px solid #dddddd;
  column-fill: auto;
  font-size: small;
  width: calc(100% + 3em);
  padding-right: 2em;
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-family: "ヒラギノ明朝 Pro W3", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

@media screen and (min-device-pixel-ratio: 0) {

  .tategaki {
    overflow-y: scroll;
  }
}

.henoji::before {
  content: "へ";
  color: rgb(51 51 51 / 100%);
  opacity: 1;
  transform: scale(1.9, 1) rotateX(180deg) translateY(-0.08em);
  position: absolute;
  display: inline-block;
  user-select: none;
  user-select: none;
  user-select: none;
  z-index: 1;
}

.henoji {
  position: relative;
  width: 1em;
  white-space: pre;
  display: inline-block;
  padding: 0 0.5em;
  color: rgb(51 51 51 / 0%);
}

.dhenoji::before {
  content: "へ";
  color: rgb(51 51 51 / 100%);
  opacity: 1;
  transform: scale(1.9, 1) rotateX(180deg) translateY(-0.08em);
  position: absolute;
  display: inline-block;
  user-select: none;
  user-select: none;
  user-select: none;
  z-index: 1;
}

.dhenoji {
  position: relative;
  width: 1em;
  white-space: pre;
  display: inline-block;
  padding: 0 0.5em;
  color: rgb(51 51 51 / 0%);
}

.dhenoji::after {
  position: absolute;
  color: rgb(51 51 51 / 100%);
  content: "゛";
  top: 0.07em;
  left: 0.6em;
  z-index: 1;
}

.hdhenoji::before {
  content: "へ";
  color: rgb(51 51 51 / 100%);
  opacity: 1;
  transform: scale(1.9, 1) rotateX(180deg) translateY(-0.08em);
  position: absolute;
  display: inline-block;
  user-select: none;
  user-select: none;
  user-select: none;
  z-index: 1;
}

.hdhenoji {
  position: relative;
  width: 1em;
  white-space: pre;
  display: inline-block;
  padding: 0 0.5em;
  color: rgb(51 51 51 / 0%);
}

.hdhenoji::after {
  position: absolute;
  color: rgb(51 51 51 / 100%);
  content: "゜";
  top: 0.07em;
  left: 0.6em;
  z-index: 1;
}

span[style = "text-decoration: underline;"] tt {
  position: relative;
  text-decoration: none;
}

span[style = "text-decoration: underline;"] tt::before {
  content: "";
  position: absolute;
  top: 90%;
  width: 100%;
  height: 0.25em;
  background: linear-gradient(315deg, transparent, transparent 45%, #000000, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, #000000, transparent 55%, transparent 100%);
  background: linear-gradient(135deg, transparent, transparent 45%, #000000, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, #000000, transparent 55%, transparent 100%);
  background-size: 0.5em 0.5em;
  background-repeat: repeat-x, repeat-x;
}

.namisen {
  position: relative;
}

.namisen::before {
  content: "";
  position: absolute;
  top: 90%;
  width: 100%;
  height: 0.25em;
  background: linear-gradient(315deg, transparent, transparent 45%, #000000, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, #000000, transparent 55%, transparent 100%);
  background: linear-gradient(135deg, transparent, transparent 45%, #000000, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, #000000, transparent 55%, transparent 100%);
  background-size: 0.5em 0.5em;
  background-repeat: repeat-x, repeat-x;
}

.warning {
  position: relative;
}

.warning::before {
  content: "";
  position: absolute;
  top: 90%;
  width: 100%;
  height: 0.25em;
  background: linear-gradient(315deg, transparent, transparent 45%, #ff0000, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, #ff0000, transparent 55%, transparent 100%);
  background: linear-gradient(135deg, transparent, transparent 45%, #ff0000, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, #ff0000, transparent 55%, transparent 100%);
  background-size: 0.5em 0.5em;
  background-repeat: repeat-x, repeat-x;
}

tt {
  font-family: "verdana", "arial", "helvetica", sans-serif;
  font-size: 1em;
  display: inline-table;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  height: 1em;
  vertical-align: calc(1em - 1px);
  text-indent: 0%;
}

tt > sup {
  display: table-header-group;
  font-size: 0.6em;
  line-height: 1.1;
  text-align: center;
  white-space: pre;
}

tt > sub {
  text-emphasis-style: filled sesame;
  font-size: 1em;
  vertical-align: calc(-1em + 1px);
}

tt > em {
  font-size: 12.8px;
  font-style: normal;
  text-emphasis-style: filled dot;
  vertical-align: calc(-1em + 1px);
}

tt > em {
  /* For the environments which comply with CSS3. */
  font-style: normal;
  font-weight: 400;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABgCAYAAAAU0fKgAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAbElEQVRYw+3TQQ6AIAxEUcZw/yuXlYkRKaPEhMXvnsfQFkVElIU6Vg5vCEgqkr4DZz/fQN0TrkNxkMce3JEMGjbRXQ97CqMUKeCk+H+RZimqc0uGbPYXAAAAAAAAAAAAAAAAAAAAAAAAAACSajbCGcGsSkirAAAAAElFTkSuQmCC), none;
  background-repeat: repeat-x;
  padding: 0.5em 0 0;
  background-color: transparent;
  background-clip: padding-box, content-box;
  background-size: 1em 1.3em, auto;
}

.reddel {
  position: relative;
}

.reddel::before {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 40%;
  bottom: 40%;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.kenten-b {
  text-emphasis-style: filled dot;
}

.kenten-c {
  text-emphasis-style: filled circle;
}

.kenten-janome {
  text-emphasis-style: filled double-circle;
}

.kenten-t {
  text-emphasis-style: filled triangle;
}

.kenten-goma {
  text-emphasis-style: filled sesame;
}

.kenten-wb {
  text-emphasis-style: open dot;
}

.kenten-wc {
  text-emphasis-style: open circle;
}

.kenten-doublec {
  text-emphasis-style: open double-circle;
}

.kenten-wt {
  text-emphasis-style: open triangle;
}

.kenten-wgoma {
  text-emphasis-style: open sesame;
}

.kenten-hoshi {
  text-emphasis-style: "★";
}

.kenten-kane {
  text-emphasis-style: "¥";
}

.bousen {
  text-decoration: overline;
}

/* thank you tonootto */

div.pseudo-tags ul {
  font-size: 85%;
  border-top: 1px solid #bbbbbb;
  display: inline-block;
  margin: 10px 0 0;
  padding: 0 2px;
  list-style: none;
}

div.pseudo-tags li {
  color: #bb0011;
  text-decoration: none;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}

div.pseudo-tags li:hover {
  text-decoration: underline;
}

#page-content span[style $= "new"] {
  display: inline-block;
  background: #eaffea;
}

#page-content span[style $= "new"]::before {
  padding-left: 5px;
  content: "+ ";
  color: #55cc55;
}

#page-content span[style $= "new"]::after {
  content: " ";
  padding-right: 5px;
}

#page-content span[style $= "old"] {
  display: inline-block;
  background: #ffecec;
}

#page-content span[style $= "old"]::before {
  padding-left: 5px;
  content: "- ";
  color: #da5757;
}

#page-content span[style $= "old"]::after {
  content: " ";
  padding-right: 5px;
}

#page-content .new {
  display: inline-block;
  margin-right: 5px;
  background: #eaffea;
}

#page-content .new::before {
  padding-left: 5px;
  content: "+ ";
  color: #55cc55;
}

#page-content .new::after {
  content: " ";
  padding-right: 5px;
}

#page-content .old {
  display: inline-block;
  margin-right: 5px;
  background: #ffecec;
}

#page-content .old::before {
  padding-left: 5px;
  content: "- ";
  color: #da5757;
}

#page-content .old::after {
  content: " ";
  padding-right: 5px;
}
