@import url("https://scp-jp.github.io/Black-Highlighter/css/min/normalize.min.css");
@import url("https://scp-jp.github.io/Black-Highlighter/css/min/black-highlighter.min.css");

#page-title {
    text-align: center !important;
}

.scp-image-block.block-right {
    margin: 1em 0 1em 2em;
}

.scp-image-block > a:first-of-type {
    background: var(--gradient-header);
}

.scp-image-block .printuser img.small {
    width: initial;
}

#login-status a#my-account:hover,
#login-status a#my-account:active {
    color: rgb(var(--swatch-text-light)) !important;
}

#login-status a#my-account:focus-within {
    color: rgb(var(--swatch-text-light)) !important;
}

.scp-image-block img {
    min-width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.5em;
}

.creditModule {
    justify-content: center;
    width: 100%;
}