@charset "utf-8";

/* //////////////////////////////////////////////////////////////

Origin : [Sigma-9]
designed by Aelanna

Alteration : [Sigma-9-off-canvas]
designed by Devan

----------------------------------------

[O5-theme]

Edited:
    * ikr_4185
    * Nanimono_Demonai

Using:
    * https://codepen.io/sdthornton/pen/wBZdXq

Deployed for O5 Command JP by ikr_4185
CC BY-SA 3.0

//////////////////////////////////////////////////////////// */



/* ////////////////////////////////////////////////////////////
scp-sigma-9-off-canvas/style.css
and fixes
//////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
	-webkit-text-size-adjust: 110%;
}

.post .content a {
	word-wrap: break-word;
}

.page-source {
	word-break: break-all;
}

/* ////////////////////////////////////////////////////////////
off-canvas-scp-sigma-9/style.css
//////////////////////////////////////////////////////////// */

/* COMMON */

#page-title {
	border-color: #bbb;
}

h1, #page-title {
	color: #901;
	padding: 0 0 0.25em;
	margin: 0 0 0.6em;
	font-weight: normal;
}

h1 {
	margin-top: 0.7em;
	padding: 0;
	font-weight: bold;
}

h2, h3, h4, h5, h6 {
	margin: 0.5em 0 0.4em;
	padding: 0;
	letter-spacing: 1px;
}

ul {
	/* list-style-image: url(http://d3g0gp89917ko0.cloudfront.net/v--3b8418686296/common--theme/shiny/images/bullet.gif); */
	list-style: square;
}

li, p {
	line-height: 141%;
}

a {
	color: #b01;
	text-decoration: none;
	background: transparent;
}

a.newpage {
	color: #d61;
	text-decoration: none;
	background: transparent;
}

a:hover {
	text-decoration: underline;
	background-color: transparent;
}

.form-control {
	width: 95%;
}

/* ========================================
GLOBAL WIDTH
======================================== */
#header, #top-bar {
	width: 100%;
	margin: 0 auto;
}

.mobile-top-bar {
	display: none;
	position: absolute;
	left: 1em;
	bottom: 0;
	z-index: 0;
}

body {
	background-color: #fff;
	font-size: 0.80em;
	color: #333;
}

/* ========================================
HEADER
======================================== */

#header {
	height: 140px;
	position: relative;
	z-index: 10;
	padding-bottom: 22px; /* FOR MENU */
	background: #333;
}

/* logo */
#header::before {
	content: ".";
	font-size: 0;

	display: block;
	position: absolute;
	top: 30px;
	left: 20px;

	width: 100px;
	height: 100px;
	background: url(/files/util/05command/media/component/theme/Site-8181_logo.png) no-repeat;
}

#header h1 {
	margin-left: 140px;
	padding: 0;
	float: left;
	max-height: 95px;
}

#header h2 {
	margin-left: 140px;
	padding: 0;
	clear: left;
	float: left;

	font-size: 105%;
	max-height: 38px;
}

#header h1 a {
	display: block;
	margin: 0;
	padding: 80px 0 25px;

	line-height: 0;
	max-height: 0;

	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 180%;
	text-decoration: none;
	letter-spacing: 1px;
}

#header h2 span {
	display: block;
	margin: 0;
	padding: 19px 0;
	line-height: 0;
	max-height: 0;
	font-weight: bold;
	color: #eee;
}

.printuser {
	color: #fff;
}

/* ========================================
TOP MENU
========================================*/
#top-bar {
	height: 21px;
	width: 100%;
	padding: 0;
	z-index: 20;

	position: absolute;
	top: 140px;
	right: 0;

	line-height: 18px;
	font-size: 90%;
	background: #ddd;
}

#top-bar ul {
	float: right;
	/* list-style-image: none; /* IE ONLY! IF list-style-image IS SET */
}

#top-bar li {
	margin: 0;
	background: #ddd;
}

#top-bar a {
	color: #333;
}

#top-bar ul li {
	border: 0;
	position: relative;
}

#top-bar ul li ul {
	border: solid 1px #666;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /*card3*/
	border-top: 0;
	vertical-align: middle;
}

#top-bar ul li a {
	border-left: solid 1px rgba(64, 64, 64, .1);
	border-right: solid 1px rgba(64, 64, 64, .1);

	padding-top: 10px;
	padding-bottom: 10px;

	line-height: 1px;
	max-height: 1px;
	overflow: hidden;

	text-decoration: none;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
	background: inherit;
	border-left: solid 1px rgba(64, 64, 64, 1);
	border-right: solid 1px rgba(64, 64, 64, 1);
	color: #333;
}

#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
	width: 150px;
	height: 2em;
	max-height: none;

	padding-top: 0;
	padding-bottom: 0;

	border-width: 0;
	border-top: 1px solid #666;
	line-height: 2em;
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
	background: #fff;
	color: #a01;
	text-decoration: none;
}

#top-bar ul li ul {
	border-width: 0 1px 1px 1px;
	width: auto;
}

#top-bar ul li ul li, #top-bar ul li ul li.sfhover,
#top-bar ul li ul li, #top-bar ul li ul li:hover {
	border-width: 0;
}

#top-bar ul li ul li a {
	border-width: 0;
}

#top-bar ul li ul a, #top-bar a:hover {
	color: #a01;
}

.top-bar ul li:last-of-type ul {
	right: 0;
}

/* IE7 HACK */
#top-bar ul > li > ul {
	*margin-top: -4px;
}

/* ========================================
SIDE MENU
======================================== */
#side-bar {
	clear: none;
	float: none;

	position: absolute;
	top: 0.5em;
	left: 0;

	display: block;
	width: 17em;
	padding: 0;

	border-radius: 1px;
	border: none;
	background: #ddd;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /*card1*/
}

#side-bar .side-block {
	background: #fff;
	padding: 15px;
}

#side-bar h1,
#side-bar h2,
#side-bar h3,
#side-bar h4,
#side-bar h5 {
	color: #333;
	font-weight: normal;
}

#side-bar a {
	color: #333;
}

#side-bar h1 a {
	color: #901;
}

#side-bar p {
	margin: 0;
}

#side-bar ul {
	list-style-type: inherit;
}

/* ========================================
CONTENT
======================================== */

div#container-wrap {
	background: #eee;
}

#content-wrap {
	position: relative;
	margin: 2em auto 0;
	max-width: 1040px;
	min-height: 1300px;
	height: auto !important;
}

#main-content {
	margin: 0 4em 0 20em;
	padding: 1em;
	position: relative;
}

/* ========================================
FOOTER
======================================== */
#footer {
	clear: both;
	font-size: 77%;
	background: #444;
	color: #bbb;
	margin-top: 15px;
	padding: 3px 10px;
}

#footer .options {
	visibility: visible;
	display: block;
	float: right;
	width: 50%;
	font-size: 100%;
	text-align: right;
}

#footer a {
	color: #fff;
	background: transparent;
}

/* ========================================
Forum Customizations
======================================== */

.forum-thread-box .description-block {
	padding: .5em 1em;
	background: #fff;
	border-radius: 1px;
	border: none;
	position: relative;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /*card1*/
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.thread-container .post .head {
	padding: .5em 1em;
	background: #fff;
	border-radius: 1px;
	position: relative;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.forum-group table,
.forum-category-box table {
	border-collapse: collapse;
	border-spacing: 0;
	background: #fff;
}

/* ========================================
Wikidot System Customizations
======================================== */

#site-changes-list {
	border: 1px solid #ddd;
}

#site-changes-list .changes-list-item {
	border-top: 1px solid #ddd;
}

/* ========================================
webkit scrollbar
======================================== */
::-webkit-scrollbar {
	width: 9px; /* for vertical scrollbars */
	height: 9px; /* for horizontal scrollbars */
	border: solid 1px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(50, 50, 50, 0.3);
}

/* ========================================
Responsive Web Design
======================================== */
img, embed, video, object, iframe, table {
	max-width: 100%;
}

#page-content div,
#page-content div table {
	max-width: 100%;
}

#edit-page-comments {
	width: 100%;
}

/* ========================================
Wide Monitor Media Query
======================================== */
@media (min-width: 1400px) {

}

/* ========================================
Desktop Media Query
======================================== */
@media (min-width: 980px) and (max-width: 1399px) {

}

/* ========================================
Tablet Media Query
======================================== */
@media (min-width: 768px) and (max-width: 979px) {
	#main-content {
		/*margin: 0 4em 0 20em;*/
	}

	#header, #top-bar, #side-bar {
		max-width: 100%;
	}

	.top-bar li {
		margin: 0;
	}

	#top-bar ul li.sfhover ul li a,
	#top-bar ul li:hover ul li a {
		width: 110px;
	}

	.page-options-bottom a {
		padding: 0 7px;
	}

	#header h1 a {
		font-size: 160%;
	}

	.license-area {
		font-size: 0.95em;
	}

	#header {
		background-position: 1em 4em;
		background-size: 88px 88px;
	}

	#header h1,
	#header h2 {
		margin-left: 130px;
	}

	.content-panel.left-column,
	.content-panel.right-column {
		width: 99%;
		float: left;
	}

	#page-content div,
	#page-content div table {
		clear: both;
	}
}

/* ========================================
basic Query for mobile devices
======================================== */

@media (max-width: 767px) {

	.owindow {
		min-width: 80%;
		max-width: 99%;
	}

	.modal-body .table,
	.modal-body .table ~ div {
		float: left;
	}

	.owindow .button-bar {
		float: right;
	}

	.owindow div a.btn-primary {
		width: 100%;
		float: left;
	}
}

/* ----------------------------------------
off-canvas */

.close-menu {
	display: none;
}

@media (max-width: 767px) {

	/*.page-history tbody tr td:last-child {*/
	/*width: 35%;*/
	/*}*/
	.yui-navset {
		z-index: 1;
	}

	#header h2 {
		font-size: 10px;
	}

	/* logo */
	#header::before {
		content: ".";
		font-size: 0;

		position: absolute;
		top: 58px;
		left: 20px;

		display: block;
		width: 66px;
		height: 66px;

		background: url(/files/util/05command/media/component/theme/Site-8181_logo.png) no-repeat;
		background-size: 66px 66px;
	}

	#navi-bar,
	#navi-bar-shadow {
		display: none;
	}

	.open-menu a {
		position: fixed;
		bottom: 15px;
		left: 15px;

		z-index: 15;
		width: 30px;
		height: 30px;

		border: 0.2em solid #888 !important;
		background-color: #fff !important;
		border-radius: 3em;

		font-size: 30px;
		font-weight: normal;

		line-height: 23px; /* height adjustment*/
		text-align: center;

		color: #888 !important;
		font-family: verdana, arial, helvetica, sans-serif;

		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /*card3*/
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	.open-menu a:hover {
		bottom: 16px;

		text-decoration: none !important;
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); /*card5*/
	}

	#main-content {
		max-width: 90%;
		margin: 0 5%;
		padding: 0;
		-webkit-transition: 0.5s ease-in-out 0.1s;
		-moz-transition: 0.5s ease-in-out 0.1s;
		-ms-transition: 0.5s ease-in-out 0.1s;
		-o-transition: 0.5s ease-in-out 0.1s;
		transition: 0.5s ease-in-out 0.1s;
	}

	#side-bar {
		display: block;
		width: 17em;
		height: 100%;
		padding: 0;

		position: fixed;
		top: 0;
		left: -25em;

		z-index: 10;
		background: #eee;
		overflow: hidden;
		overflow-y: auto;

		-webkit-transition: left 0.5s ease-in-out 0.1s;
		-moz-transition: left 0.5s ease-in-out 0.1s;
		-ms-transition: left 0.5s ease-in-out 0.1s;
		-o-transition: left 0.5s ease-in-out 0.1s;
		transition: left 0.5s ease-in-out 0.1s;
	}

	#side-bar .side-block {
		padding: 15px;
		height: auto;
	}

	#side-bar:after {
		content: "";
		position: absolute;
		top: 0;
		width: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
	}

	#side-bar:target {
		display: block;
		left: 0;
		width: 17em;
		margin: 0;
		border: 1px solid #dedede;
		z-index: 10;

		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /*card3*/
	}

	#side-bar:target + #main-content {
		left: 0;
	}

	#side-bar:target .close-menu {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.3) 1px 1px repeat;
		z-index: -1;
	}
}

/* ========================================
Mini Tablet Media Query
======================================== */
@media (min-width: 581px) and (max-width: 767px) {

	#search-top-box-input {
		width: 8em;
	}

	#header {
		background-position: 1em 4em;
		background-size: 77px 77px;
	}

	#header h1,
	#header h2 {
		margin-left: 93px;
	}

	#header h1 a {
		font-size: 140%;
	}

	#main-content {
		max-width: 90%;
		margin: 0 3em 0 2em;
	}

	.top-bar {
		display: none;
	}

	.mobile-top-bar {
		display: block;
	}

	.page-options-bottom a {
		padding: 0 6px;
	}

	.license-area {
		font-size: 0.9em;
	}
}

/* ========================================
Note Media Query
========================================*/
@media (min-width: 480px) and (max-width: 580px) {
	#search-top-box-input {
		width: 7em;
	}

	#main-content {
		max-width: 90%;
		margin: 0 2em 0 2em;
	}

	#header {
		background-position: 0.5em 4.5em;
		background-size: 66px 66px;
	}

	#header h1,
	#header h2 {
		margin-left: 80px;
	}

	#container #header::before {
		left: 8px;
	}

	.top-bar {
		display: none;
	}

	.mobile-top-bar {
		display: block;
	}

	.page-options-bottom a {
		padding: 0 5px;
	}

	#header h1 a {
		font-size: 120%;
	}

	blockquote {
		margin: 0.5em;
	}

	.license-area {
		font-size: 0.85em;
	}

	td.title {
		width: 30%;
	}

	.content-panel.left-column, .content-panel.right-column {
		width: 99%;
		float: left;
	}

	#page-content div, #page-content div table {
		clear: both;
	}
}

/* ========================================
Mobile Media Query
======================================== */
@media (max-width: 479px) {

	#search-top-box {
		top: 3em;
	}

	#search-top-box-input {
		width: 5em;
	}

	#header {
		background-position: 0 5.5em;
		background-size: 55px 55px;
	}

	#header h1,
	#header h2 {
		margin-left: 66px;
	}

	#container #header::before {
		top: 67px;
		left: 4px;
		width: 54px;
		height: 54px;
		background-size: 54px 54px;
	}

	#page-content {
		font-size: 0.9em;
	}

	#main-content {
		max-width: 90%;
		margin: 0 2em 0 2em;
	}

	#recent-posts-category {
		width: 100%;
	}

	.top-bar {
		display: none;
	}

	.mobile-top-bar {
		display: block;
		padding: 0;
	}

	.page-options-bottom a {
		padding: 0 4px;
	}

	#header h1 a {
		font-size: 100%;
	}

	blockquote {
		margin: 1em 0;
	}

	.license-area {
		font-size: 0.8em;
	}

	table.form td,
	table.form th {
		float: left;
	}

	td.title {
		width: 30%;
	}

	table.form td,
	table.form th {
		padding: 0;
	}

	#edit-page-title {
		max-width: 90%;
	}

	.content-panel.left-column,
	.content-panel.right-column {
		width: 99%;
		float: left;
	}

	#page-content div,
	#page-content div table {
		clear: both;
	}
}

/* blockquote div style imported from Sigma9 for SCP-JP */
div.blockquote {
    border: 1px dashed #999;
    background-color: #f4f4f4;
    padding: 0 1em;
    margin: 1em 3em;
}
 
@media (max-width: 479px) {
    div.blockquote {
        margin: 1em 0;
    }
}
 
@media (min-width: 480px) and (max-width: 580px) {
    div.blockquote {
        margin: 0.5em;
    }
}

/* Content Panel div style imported from Sigma9 for SCP-JP */

.content-panel {
    border: solid 1px #888880;
    border-radius: 10px;
    background-color: #999990;
    margin: 10px 0 15px;
    box-shadow: 3px 3px 6px #bbb;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
}
.content-panel.standalone {
    background: #fcfdfb;
}
.content-panel.series {
    padding: 0 20px;
    margin-bottom: 20px;
}
.content-panel.centered {
    text-align: center;
}
.content-panel.left-column {
    float: left;
    width: 48%;
}
.content-panel.right-column {
    float: right;
    width: 48%;
}
 
.content-panel .panel-heading {
    padding: 2px 10px;
    color: #ffffff;
    font-size: 90%;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,.35);
}
.content-panel .panel-heading > p,
.content-panel .panel-footer > p {
    margin: 0;
}
.content-panel .panel-body {
    padding: 5px 10px;
    background: #fff9f0 url(/files/util/common/media/component/theme/panel-bg-gradient-reverse.png) bottom repeat-x;
    /* box-shadow: 1px 2px 3px rgba(0,0,0,.2) inset */
}
.content-panel .panel-footer {
    padding: 1px 10px;
    color: #fffff0;
    font-size: 80%;
    font-weight: bold;
    text-align: right;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
.content-panel .panel-footer a {
    color: #ffffff;
}
.content-panel .content-toc {
    float: right;
    padding: 0 20px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin: 20px 0 5px 5px;
    white-space: nowrap;
    box-shadow: inset 1px 2px 6px rgba(0,0,0,.15)
}

@media (max-width: 979px) {
    .content-panel.left-column, .content-panel.right-column  {
        width: 99%;
        float: left;
    }
}

.colmod-block > ul,
.colmod-block > ul > li {
    display:block;
    line-height:normal;
    list-style:none;
    margin:0;
    padding:0;
}
.colmod-block > ul > li > ul,
li.folded > .colmod-link-top a + a,
li.folded > .colmod-content,
li.folded > .colmod-link-end a,
li.unfolded > .colmod-link-top a:first-child {
    display:none;
}
.colmod-content {
    -webkit-animation:colmod-fade-in 0.2s ease-in-out;
    -moz-animation:colmod-fade-in 0.2s ease-in-out;
    animation:colmod-fade-in 0.2s ease-in-out;
    -webkit-animation-timing-function:cubic-bezier(0.3649610494,0,0.6350389506,1);
    -moz-animation-timing-function:cubic-bezier(0.3649610494,0,0.6350389506,1);
    animation-timing-function:cubic-bezier(0.3649610494,0,0.6350389506,1);
}
li.folded > .colmod-content {
    -webkit-animation-name:none;
    -moz-animation-name:none;
    animation-name:none;
}
@-webkit-keyframes colmod-fade-in { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes colmod-fade-in { from { opacity:0; } to { opacity:1; } }
@keyframes colmod-fade-in { from { opacity:0; } to { opacity:1; } }
[class|="colmod-link"] div.foldable-list-container {
    display:inline;
}
.colmod-collapsiblealt > [class|="colmod-link"] {
    margin:0.5em 0;
    text-align:center;
}
 
.colmod-collapsiblealt > [class|="colmod-link"],
.collapsiblealt > .colmod-block > ul > li > [class|="colmod-link"] {
    margin:0.5em 0;
    text-align:center;
}
.colmod-collapsiblealt > [class|="colmod-link"] a,
.collapsiblealt > .colmod-block > ul > li > [class|="colmod-link"] a {
    padding:0.1em 0.5em;
    text-decoration:none;
    background-color:#F4F4F4;
    border:1px solid #AAA;
    color:#000;
}
.colmod-collapsiblealt > [class|="colmod-link"] a:hover,
.colmod-collapsiblealt > [class|="colmod-link"] a:active,
.collapsiblealt > .colmod-block > ul > li > [class|="colmod-link"] a:hover,
.collapsiblealt > .colmod-block > ul > li > [class|="colmod-link"] a:active {
    background:#DDD;
    text-decoration:none;
}