@media only screen and (min-width: 769px) {

  #content-wrap {
    display: -webkit-box;
    display: flex;
    display: -moz-box;
    display: flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    width: calc(100vw - (100vw - 100%));
    width: calc(100vw - (100vw - 100%));
    min-height: calc(100vh - calc(var(--final-header-height-on-desktop, 10.125rem)));
    min-height: calc(100vh - calc(var(--final-header-height-on-desktop, 10.125rem)));
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    height: auto;
    position: initial;
    margin: 0 auto;
    max-width: inherit;
    margin-left: -11em;
    margin-left: calc(var(--sidebar-width-on-desktop, 15.5em) * -1 / 2 - 2rem);
    margin-left: calc(var(--sidebar-width-on-desktop, 15.5em) * -1 / 2 - 2rem);
    margin-left: calc(var(--sidebar-width-on-desktop, 15.5em) * -1 / 2 - 2rem);
  }

  #main-content {
    position: initial;
    max-height: 100%;
    padding: 2rem 1rem;
    width: 45.8rem;
    max-width: 45.8rem;
    margin: 0 auto;
  }

  #sidebar::-webkit-scrollbar {
    width: 0;
    transition: width 300ms 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 300ms 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 300ms 50ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  #sidebar:hover::-webkit-scrollbar,
  #sidebar:active::-webkit-scrollbar,
  #sidebar:focus-within::-webkit-scrollbar {
    width: 0.5rem;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  #side-bar {
    transform: translateX(-14.6rem);
    transform: translateX(-webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1 - 1rem));
    transform: translateX(-moz-calc(var(--sidebar-width-on-desktop, 17em) * -1 - 1rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 - 1rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 - 1rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 - 1rem));
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      padding 300ms linear,
      margin 300ms linear,
      -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      padding 300ms linear,
      margin 300ms linear,
      -o-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      padding 300ms linear,
      margin 300ms linear,
      -moz-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      padding 300ms linear,
      margin 300ms linear;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      padding 300ms linear,
      margin 300ms linear,
      -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      -moz-transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      -o-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: var(--sidebar-width-on-desktop, 13.6rem) !important;
    min-width: var(--sidebar-width-on-desktop, 13.6rem) !important;
    grid-area: side-bar;
    grid-row: 1;
    grid-column: 1;
    padding-right: 2rem;
    background-color: transparent;
    background-color: rgb(var(--swatch-menubg-color, 255, 255, 255) 0);
    top: 1rem;
    max-height: 100vh;
    position: sticky;
    left: 0.5rem;
    padding-left: 1rem;
    scrollbar-width: thin;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    scrollbar-color: rgb(170 170 170 / 0%) rgb(170 170 170 / 0%);
  }

  #side-bar::-webkit-scrollbar-track {
    width: 0;
    background-color: rgb(170 170 170 / 0%);
  }

  #side-bar::-webkit-scrollbar-thumb {
    width: 0;
    background-color: rgb(170 170 170 / 0%);
  }

  #side-bar:hover,
  #side-bar:active {
    background-color: white;
    background-color: rgb(var(--swatch-menubg-color, 255, 255, 255) 1);
    padding-right: 0;
    margin-right: 2rem;
    transform: translateX(-0.5rem);
    transform: translateX(-webkit-calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(-moz-calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(170 170 170 / 100%) rgb(252 252 252 / 100%);
  }

  #side-bar:focus-within {
    background-color: white;
    background-color: rgb(var(--swatch-menubg-color, 255, 255, 255) 1);
    padding-right: 0;
    margin-right: 2rem;
    transform: translateX(-0.5rem);
    transform: translateX(-webkit-calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(-moz-calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(170 170 170 / 100%) rgb(252 252 252 / 100%);
  }

  #side-bar:hover::-webkit-scrollbar-track {
    width: 0.5rem;
    background-color: rgb(252 252 252 / 100%);
  }

  #side-bar:hover::-webkit-scrollbar-thumb {
    width: 0.375rem;
    background-color: rgb(170 170 170 / 100%);
  }

  #main-content::after {
    content: " ";
    position: fixed;
    display: -webkit-box;
    display: flex;
    display: -moz-box;
    display: flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 1rem;
    height: 100%;
    max-height: 100%;
    top: 0;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 1rem;
    background: url("http://scp-wiki.wdfiles.com/local--files/component%3Acollapsible-sidebar/sidebar-tab.svg");
    background-repeat: no-repeat;
    background-position: center left 1rem;
    background-attachment: fixed;
    background-size: 1rem 12.875rem;
    background-size: 1rem 12.875rem;
    background-size: 1rem 12.875rem;
    pointer-events: none;
  }

  #side-bar:hover + #main-content::after,
  #side-bar:active + #main-content::after {
    left: -17em;
    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left -17em;
    background-position: center left -webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left -moz-calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left calc(var(--sidebar-width-on-desktop, 17em) * -1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    width: 0;
    font-size: 0;
  }

  #side-bar:focus-within + #main-content::after {
    left: -17em;
    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left -17em;
    background-position: center left -webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left -moz-calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left calc(var(--sidebar-width-on-desktop, 17em) * -1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1),
      background-position 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    width: 0;
    font-size: 0;
  }

  #main-content::before {
    --not-ie: absolute;

    content: " ";
    background-color: black;
    background-color: rgb(var(--black-monochrome, 0, 0, 0));
    position: fixed;
    position: var(--not-ie);
    top: 0;
    top: var(--final-header-height-on-desktop, 0);
    left: 0;
    transform: translateX(-12.6rem);
    transform: translateX(-webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1 + 1rem));
    transform: translateX(-moz-calc(var(--sidebar-width-on-desktop, 17em) * -1 + 1rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 + 1rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 + 1rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 + 1rem));
    width: 17em;
    width: var(--sidebar-width-on-desktop, 17em);
    height: calc(100% - 3rem);
    height: calc(100% - 3rem);
    height: calc(100% - var(--final-header-height-on-desktop, 0.688rem) - 2.313rem);
    height: calc(100% - var(--final-header-height-on-desktop, 0.688rem) - 2.313rem);
    height: calc(100% - var(--final-header-height-on-desktop, 0.688rem) - 2.313rem);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
      -o-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
      -moz-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      -moz-transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
      -o-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.5;
    pointer-events: none;
    z-index: 9;
    margin-bottom: 0;
    margin-bottom: calc(var(--final-header-height-on-desktop, -2.313rem) * -1 - 2.313rem);
    margin-bottom: calc(var(--final-header-height-on-desktop, -2.313rem) * -1 - 2.313rem);
    margin-bottom: calc(var(--final-header-height-on-desktop, -2.313rem) * -1 - 2.313rem);
  }

  #side-bar:hover + #main-content::before,
  #side-bar:active + #main-content::before {
    transform: translateX(0);
    transform: translateX(0);
    transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }

  #side-bar:focus-within + #main-content::before {
    transform: translateX(0);
    transform: translateX(0);
    transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }

  #side-bar .side-block {
    margin-top: 1rem;
    background-color: rgb(0 0 0 / 0%);
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
  }

  @supports (-ms-ime-align: auto) {

    #side-bar {
      overflow-y: hidden;
      overflow-x: hidden;
      transform: translateX(-90%) !important;
      transform: translateX(-90%) !important;
      transform: translateX(-90%) !important;
      transform: translateX(-90%) !important;
    }

    #side-bar:hover,
    #side-bar:active {
      overflow-y: auto;
      transform: translateX(0) !important;
      transform: translateX(0) !important;
      transform: translateX(0) !important;
      transform: translateX(0) !important;
      margin-left: -0.5rem;
    }

    #side-bar:focus-within {
      overflow-y: auto;
      transform: translateX(0) !important;
      transform: translateX(0) !important;
      transform: translateX(0) !important;
      transform: translateX(0) !important;
      margin-left: -0.5rem;
    }

    #main-content::before {
      left: 1rem;
      transform: translateX(-100%) !important;
      transform: translateX(-100%) !important;
      transform: translateX(-100%) !important;
      transform: translateX(-100%) !important;
    }
  }
}
