#header {
  background: none;
}

#header::before {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 22%;
  left: 2%;
  z-index: -1;
  content: "";
  background: url(/local--files/component:theme/logo.png) 0 0 no-repeat;
  background-size: 100px 100px;
  animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@media (max-width: 479px) {

  #header::before {
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
    top: 40%;
    left: -1%;
    transform-origin: 28px 28px;
  }
}

@media (min-width: 480px) and (max-width: 580px) {

  #header::before {
    width: 66px;
    height: 66px;
    top: 35%;
    left: -1%;
    background-size: 66px 66px;
    transform-origin: 33px 33px;
  }
}

@media (min-width: 581px) and (max-width: 767px) {

  #header::before {
    width: 78px;
    height: 78px;
    top: 30%;
    left: -1%;
    background-size: 78px 78px;
    transform-origin: 39px 39px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {

  #header::before {
    top: 27%;
    width: 88px;
    height: 88px;
    background-size: 88px 88px;
    transform-origin: 44px 44px;
  }
}

@keyframes spin {

  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {

  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {

  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {

  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {

  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
