/*
使用色定義
*/

:root {
  --mainblue: #178cce;
  --thin-blue: #b5cde2;
  --cu-green: #006837;
  --cu-red: #c1272d;
  --scribbled-orange: #f49e4c;
  --third-blue: #0071bc;
  --bg: #f0f0e6;
}

/*
背景画像
*/

div#container-wrap {
  background: none !important;
}

/*
ヘッダ
*/

#header {
  padding-top: 2em;
  height: 130px;
  z-index: 10;
  background: url(http://scp-jp.wdfiles.com/local--files/joicle-catalog-hub/q2.png) 10px 40px no-repeat, url(http://scp-jp.wdfiles.com/local--files/joicle-catalog-hub/q1.png) calc(100% - 10px) calc(100% - 40px) no-repeat;
}

div #header h1 {
  margin-left: 0;
  width: 273px;
  top: 35px;
  min-height: 100px;
  position: absolute;
}

div #header h1 a {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1px;
}

div #header h2 {
  display: none;
}

#top-bar {
  position: absolute;
  bottom: 0;
  margin-top: 115px;
  height: auto;
  padding: 0;
  z-index: 20;
  font-size: 90%;
}

#top-bar ul {
  float: right;
  padding-right: 5em;
}

#top-bar a {
  color: var(--thin-blue);
}

#top-bar ul li a {
  border-left: none;
  border-right: none;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
  color: var(--mainblue);
  border-left: none;
  border-right: none;
}

#search-top-box-input {
  display: none;
}

#search-top-box-form input[type = "submit"] {
  border: none;
  border-radius: 0;
  padding: 2px 5px;
  font-size: 90%;
  font-weight: bold;
  color: var(--mainblue);
  background-color: #ffffff;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

#search-top-box-form input[type = "submit"]:hover,
#search-top-box-form input[type = "submit"]:focus {
  border: none;
  color: var(--thin-blue);
  text-shadow: none;
  background-color: #ffffff;
  background: none;
  box-shadow: none;
}

#search-top-box {
  position: absolute;
  top: auto;
  bottom: 23px;
  right: 8px;
  width: 250px;
  text-align: right;
}

#header::after {
  content: "";
  position: absolute;
  width: 100%;
  margin: 0 auto;
  margin-top: 130px;
  height: 100px;
  background: url(http://scp-jp.wdfiles.com/local--files/joicle-catalog-hub/q3-min-min.png) top left repeat-x;
}

/*
コンテント
*/

/* ヘッダーにかぶせない */

#main-content {
  margin-top: 100px;
}

h1,
#page-title {
  color: #000000;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

a {
  color: var(--thin-blue);
}

#page-content a {
  color: #0000aa;
}

#page-content h2 {
  font-weight: bold;
}

#page-content h2::before {
  content: "■";
  color: var(--cu-green);
}

#page-content .rate-box-with-credit-button .creditButton {
  background-color: var(--mainblue);
  border: 1px solid var(--mainblue);
}

#page-content .creditButton .fa-info {
  color: #ffffff;
}

div.page-rate-widget-box .rate-points {
  background-color: var(--mainblue);
  border: solid 1px var(--mainblue);
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
  background-color: var(--thin-blue);
  border-top: solid 1px var(--mainblue);
  border-bottom: solid 1px var(--mainblue);
}

.page-rate-widget-box .cancel {
  background-color: var(--mainblue);
  border: solid 1px var(--mainblue);
}

.page-rate-widget-box a {
  color: #ffffff !important;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
  background: var(--thin-blue);
  color: #fffff0;
}

.page-rate-widget-box .cancel a:hover {
  background: var(--thin-blue);
}

/*
リスト http://webnonotes.com/css/css-list/
*/

.defaultlist,
.defaultlist li {
  padding: 0;
  margin: 0;
}

.defaultlist li {
  list-style-type: none !important;
  list-style-image: none !important;
  margin: 5px 0 !important;
}

.list1 li {
  position: relative;
  padding-left: 20px;
}

.list1 li::before {
  content: "";
  display: block;
  position: absolute;
  box-shadow: 0 0 2px 2px rgb(255 255 255 / 20%) inset;
  top: 3px;
  left: 2px;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 9px solid #aaaaaa;
}

.list2 li {
  position: relative;
  padding-left: 20px;
}

.list2 li::before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  border: 5px transparent solid;
  border-right-width: 0;
  border-left-color: #aaaaaa;
  position: absolute;
  top: 5px;
  left: 8px;
}

.list2 li::after {
  content: "";
  height: 2px;
  width: 10px;
  display: block;
  background: #aaaaaa;
  position: absolute;
  top: 9px;
  left: 0;
}

.list4 li {
  position: relative;
  padding-left: 20px;
}

.list4 li::after,
.list4 li::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  height: 11px;
  width: 4px;
  background: #aaaaaa;
  border-radius: 10px;
  transform: rotate(45deg);
  transform: rotate(45deg);
}

.list4 li::before {
  top: 8px;
  left: 3px;
  height: 8px;
  transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.list5 li {
  position: relative;
  padding-left: 20px;
}

.list5 li::before {
  content: "";
  height: 0;
  width: 90%;
  display: block;
  position: absolute;
  top: 18px;
  left: 0;
  border-bottom: 1px dashed #aaaaaa;
}

.list5 li::after {
  content: "";
  display: block;
  position: absolute;
  background: #aaaaaa;
  width: 5px;
  height: 5px;
  top: 7px;
  left: 5px;
  border-radius: 5px;
}

.list6 li {
  position: relative;
  padding-left: 20px;
}

.list6 li::after {
  content: "";
  display: block;
  position: absolute;
  background: #aaaaaa;
  width: 9px;
  height: 9px;
  top: 5px;
  left: 5px;
  transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.list7 li {
  position: relative;
  display: block;
  padding: 5px 0 5px 30px;
  background: #cccccc;
  color: #444444;
  border-radius: 15px 0 0 15px;
}

.list7 li::after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 7px;
  left: 5px;
  background: #ffffff;
  border-radius: 10px;
}

/*
表 http://tablestyler.com/#
*/

.defaultT table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.defaultT table td,
.defaultT table th {
  padding: 3px 10px;
}

.defaultT table th:first-child {
  border: none;
}

.defaultT table th:first-child {
  border: none;
}

.defaultT table tbody td:first-child {
  background-color: var(--bg);
  font-weight: bold;
  border-left: none;
}

.defaultT table tbody tr:last-child td {
  border-bottom: none;
}

.defaultT .wiki-content-table {
  margin: 0;
}

.defaultT {
  font: normal 12px/150% "Arial", "Helvetica", sans-serif;
  background: #ffffff;
  overflow: hidden;
  border-radius: 3px;
}

.defaultT table th {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.defaultT table tbody td {
  font-size: 12px;
  font-weight: normal;
}

.blueT {
  border: 1px solid #006699;
}

.blueT table th {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557f));
  background: linear-gradient(center top, #006699 5%, #00557f 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#006699", endColorstr="#00557F");
  background-color: #006699;
  border-left: 1px solid #0070a8;
}

.blueT table tbody td {
  border-left: 1px solid #e1eef4;
}

.blueT table tbody td:first-child {
  color: #00496b;
}

.redT {
  border: 1px solid #991821;
}

.redT table th {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141c));
  background: linear-gradient(center top, #991821 5%, #80141c 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#991821", endColorstr="#80141C");
  background-color: #991821;
  border-left: 1px solid #b01c26;
}

.redT table tbody td {
  border-left: 1px solid #f7cdcd;
}

.redT table tbody td:first-child {
  color: #80141c;
}

.greenT {
  border: 1px solid #36752d;
}

.greenT table th {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #36752d), color-stop(1, #275420));
  background: linear-gradient(center top, #36752d 5%, #275420 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#36752D", endColorstr="#275420");
  background-color: #36752d;
  border-left: 1px solid #36752d;
}

.greenT table tbody td {
  border-left: 1px solid #c6ffc2;
}

.greenT table tbody td:first-child {
  color: #275420;
}

/*
ボックス
*/

.warning {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px #ffc107;
}

.warning h1 {
  position: absolute;
  margin-top: 0;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 17px;
  background: #ffc107;
  color: #ffffff;
  font-weight: bold;
}

.warning p {
  margin: 0;
  padding: 0;
}

.danger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  transform: rotate(45deg);
  flex-flow: column wrap;
  vertical-align: top;
  width: 1em;
  height: 1em;
  border: 2px solid red;
}

.danger p {
  font-weight: bold;
  transform: rotate(-45deg);
}

/*
サイド
*/

#side-bar {
  min-height: calc(100% + 7em);
  background-color: var(--thin-blue);
  transform: translateY(-6em);
}

#side-bar .side-block {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent !important;
  margin-top: 4em;
}

#side-bar .heading {
  color: var(--mainblue);
  border-bottom: solid 1px var(--mainblue);
}

#side-bar .side-block a {
  color: #ffffff;
}

/*
めであ
*/

@media (max-width: 767px) and (min-width: 440px) {

  #container {
    border-left: 9px solid var(--thin-blue);
  }

  #header {
    background-size: 200px, 180px;
  }

  div #header h1 {
    width: 200px;
    min-height: 100px;
  }

  #side-bar {
    transform: translateY(0);
  }
}

@media (max-width: 440px) {

  #container {
    border-left: 3px solid var(--thin-blue);
  }

  #header {
    background-size: 130px, 140px;
    height: 100px;
  }

  div #header h1 {
    width: 200px;
    min-height: 80px;
  }

  #header::after {
    margin-top: 100px;
    height: 100px;
    background: url(http://scp-jp.wdfiles.com/local--files/joicle-catalog-hub/q3-min-min.png) top left repeat-x;
    background-size: 440px;
  }

  #top-bar {
    margin-top: 33px;
  }

  #main-content {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {

  #side-bar:target .close-menu {
    min-width: 100vw;
    min-height: 100vh;
  }
}

img.close-menu {
  opacity: 0 !important;
}
