/*
    Second Hytoth Theme
    [2019 Wikidot Theme]
    Created by DrMacro with edits by NatVoltaic.
    Based on the SCP Sigma 9 created by Aelanna and Dr Devan, along with the WWS theme by Darkstuff.
    The Second Hytoth logo is by Taoka.
*/

@import url("https://fonts.googleapis.com/css?family=Charm");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

/* RECOLORING THE TITLES */

h1,
#page-title {
  color: #6b0803;
}

#page-title {
  font-weight: lighter;
  border-color: #d85d02;
}

/* RECOLORING LINKS */

a {
  color: #b52b19;
}

a.newpage {
  color: #f7c9b7;
}

#side-bar a:visited { color: #842012; }

a:visited { color: #842012; }

/* BACKGROUND COLOR FONT COLOR */

body {
  background-color: #ffd585;
}

/* HEADER IMAGES */

div#container-wrap {
  background: url(http://scp-jp.wdfiles.com/local--files/theme:hytoth/autumn_bg.png) repeat-x;
}

#header {
  background-image: url(http://scp-jp.wdfiles.com/local--files/theme:hytoth/second_hytoth_logo5.png);
}

/* HIDE OR CHANGE HEADER TEXT */

#header h1 a {
  font-size: 150%;
  color: transparent;
  text-shadow: none;
  font-family: "Charm", "Zen Kurenaido", "verdana", "arial", "helvetica", cursive;
}

#header h1 a::before {
  content: "第二ハイトス教会";
  color: #ffffff;
  text-shadow: 3px 3px 5px #000000;
}

@media only screen and (max-width: 640px) {

  #header h1 a {
    font-size: 60%;
  }

  #container #header h2 span {
    font-size: 70%;
  }
}

#header h2 span {
  font-size: 100%;
  color: transparent;
  text-shadow: none;
  font-family: "Charm", "Zen Kurenaido", "verdana", "arial", "helvetica", cursive;
}

#header h2 span::before {
  content: "生命のため、存在のため、そして永遠のために";
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 80%);
}

/* RECOLORING THE NAVIGATION BAR */

#search-top-box-input,
#search-top-box-input:hover,
#search-top-box-input:focus {
  background-color: #3b1b0e;
  border-radius: 2px 7px !important;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #6d311a;
  box-shadow: inset 1px 1px 3px rgb(0 0 0 / 80%);
}

#search-top-box-form input[type = "submit"] {
  background: linear-gradient(to bottom, #6a0702, #b93f02, #4a0c0c);
  border-radius: 2px 7px;
}

#search-top-box-form input[type = "submit"]:hover,
#search-top-box-form input[type = "submit"]:focus {
  background: linear-gradient(to bottom, #990303, #e84c04, #7a1414);
  border-radius: 2px 7px;
}

/* LOGIN STUFF */

#login-status {
  color: #ffffff;
}

#login-status a {
  color: #ffffff;
}

#login-status ul a {
  color: #d85d02;
}

#account-topbutton {
  background: #cccccc;
  color: #ffffff;
}

/* IMAGE BLOCK RECOLORING */

.scp-image-block {
  border: solid 1px #665731;
}

.scp-image-block .scp-image-caption {
  background-color: #fdd3af;
  border-top: solid 1px #665731;
}

/* RECOLOR OR MODIFY THE RATING MODULE */

div.page-rate-widget-box .rate-points {
  background-color: #800202;
  border: solid 1px #40150d;
  border-radius: 2px 0 0 7px;
}

.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown {
  background-color: #ffd3af;
  border-top: solid 1px #40150d;
  border-bottom: solid 1px #40150d;
}

.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a {
  background: transparent;
  color: #800202;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover {
  background: #800202;
  color: #f1fff0;
}

.page-rate-widget-box .cancel {
  background: transparent;
  background-color: #800202;
  border: solid 1px #40150d;
  border-radius: 0 7px 2px 0;
}

.page-rate-widget-box .cancel a {
  color: #40150d;
  border-radius: 0 7px 2px 0;
}

.page-rate-widget-box .cancel a:hover {
  background: #c84c02;
  color: #f1fff0;
}

/* RECOLORING THE TABS */

.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
  border-color: #ffd585; /* color between tab list and content */
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
  background-color: #ffd585 !important; /* tab background */
  border-color: #ffd585;
  color: #000000;
  transition: 0.125s;
}

.yui-navset .yui-nav a em {
  background-color: #6a0702;
  box-shadow: 0 1px 2px rgb(106 7 2 / 70%);
  border-color: #6a0702;
  color: #ffd3af;
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a:focus,
.yui-navset .yui-nav .selected a:hover {
  background-color: #ffd585; /* selected tab background */
  color: black;
}

.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav .selected a em {
  border-color: #cb8d58;
  box-shadow: 0 1px 2px rgb(106 7 2 / 50%);
  background-color: #ffd3af;
  color: #6a0702;
}

.yui-navset .yui-content {
  background-color: #ffd585; /* content background color */
}

.yui-navset .yui-content,
.yui-navset .yui-navset-top .yui-content {
  border-color: #ffd585; /* content border */
  border-top-color: #ffd585; /* different border color */
}

.yui-navset-left .yui-content {
  border-left-color: #b7a9a9; /* different border color */
}

/* RECOLOR OR MODIFY THE SIDEBAR */

#side-bar .side-block,
#interwiki .side-block {
  border: 1px solid #40150d;
  box-shadow: 0 2px 6px rgb(64 21 13 / 100%);
  background: #ffd3af !important;
  border-radius: 2px;
}

#side-bar .heading,
#interwiki .heading {
  color: #40150d;
  border-bottom: solid 1px #40150d;
}

/* RECOLOR THE TOP BAR */

#top-bar ul li ul {
  border: solid 1px #40150d;
}

#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
  border-top: 1px solid #40150d;
}

#top-bar ul li.sfhover a,
#top-bar ul li:hover a {
  background: #c84c02;
  color: #ffffff;
}

#top-bar ul li ul a,
#top-bar a:hover {
  color: #943301;
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
  background: #ea7749; /* top bar hover background color */
}

/* RECOLOR THE TABLES */
#page-content .wiki-content-table tr th { background-color: #800202; color: white; border: 1px solid #6b0803; }

/* RECOLOR THE QUOTEBLOCK */

blockquote,
div.blockquote {
  border: solid 1px #43130d;
  background-color: #fcf5e0;
}

/* RECOLORING THE LINES OF SEPARATION */

hr {
  background-color: #665731;
}

/* SHORTCUTS */

div.opening { float: center; border: solid 2px #800000; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #fdd3af; margin-bottom: 10px; }

div.saduj { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #ffd6a8; margin-bottom: 10px; }

div.nicole { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #fbf2b7; margin-bottom: 10px; }

div.sarah { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #ffab93; margin-bottom: 10px; }

div.bleu { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #e5ccff; margin-bottom: 10px; }

div.fondation { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #fcf5e0; margin-bottom: 10px; }

div.inconnu { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #c0a78e; margin-bottom: 10px; }

div.merle { float: center; border: solid 2px #43130d; width: 90%; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #ffeba9; margin-bottom: 10px; }

div.affiche { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #bebebe; margin-bottom: 10px; }

div.quatrieme { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #ff834f; margin-bottom: 10px; }

div.samarah { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #b2ffb2; margin-bottom: 10px; }

div.st-hubert { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #0097f2; margin-bottom: 10px; }

div.comptine { float: center; border: solid 2px #43130d; width: 570px; padding: 1px 15px; margin: 0 auto; box-shadow: rgb(0 0 0 / 20%); background-color: #e4717a; margin-bottom: 10px; }

.orderwrapper { position: relative; width: auto; text-align: center; }

.second-hytoth { position: relative; top: 0; bottom: 0; left: 0; right: 0; width: 295px; height: 295px; margin: auto; background-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A5722815-56-jjpz/logo-sh.png"); background-size: 295px 295px; background-repeat: no-repeat; background-position: center; }

.ordertitle { position: absolute; left: 0; right: 0; top: 38px; }

.ordertitle h1 { font-size: 220%; color: #9a1d12a; }

.orderdescription { position: absolute; left: 0; right: 0; top: 85px; width: 100%; }

.orderdescription p { font-size: 90%; color: #6b0803; }

.orderdescription h1 { font-size: 120%; color: #c34d3c; }

.itemno { position: absolute; left: 0; right: 0; bottom: 27px; }

.itemno h1 { font-size: 170%; color: #853524; }

.itemno h2 { color: #853524; }

/* LOCALIZATION FOR JP-BRANCH */

/* CREDIT MODULE */

#page-content .creditRate .rate-box-with-credit-button {
  background-color: #800202;
  border: solid 1px #40150d;
  border-radius: 2px 7px;
}

#page-content .creditRate .page-rate-widget-box .rate-points,
#page-content .creditRate .page-rate-widget-box .cancel {
  border: none 0;
}

#page-content .creditRate .page-rate-widget-box .cancel,
#page-content .creditRate .page-rate-widget-box .cancel a {
  border-radius: 0;
}

#page-content .creditRate .page-rate-widget-box .cancel a:hover {
  color: #ffffff;
}

#page-content .creditRate .rate-box-with-credit-button .creditButton p a {
  border-left-color: #40150d;
}

#page-content .creditRate.creditModule .rate-box-with-credit-button {
  border: none 0;
  border-radius: 0;
}

#page-content .creditRate.creditModule .page-rate-widget-box {
  border-radius: 2px 7px;
}

#page-content .creditRate.creditModule .page-rate-widget-box .rate-points {
  border: solid 1px #40150d;
  border: 2px 0 0 7px;
}

#page-content .creditRate.creditModule .page-rate-widget-box .cancel {
  border: solid 1px #40150d;
  border-radius: 0 7px 2px 0;
  padding: 0;
  overflow: hidden;
}

#page-content .creditRate.creditModule .page-rate-widget-box .cancel a {
  padding: 2px 5px;
}

#page-content .creditRate.creditModule .rate-box-with-credit-button .creditButton {
  background-color: #800202;
  border: solid 1px #40150d;
  border-radius: 2px 7px;
}

#page-content .creditRate.creditModule .rate-box-with-credit-button .creditButton a {
  color: #ffffff;
}

#page-content .creditRate.creditModule .rate-box-with-credit-button .creditButton a:hover {
  color: #c84c02;
}

/* SIDE BAR ICONS */

#side-bar .side-block .menu-item img:not([src *= "twitter" i], [src *= "discord" i]),
#interwiki .side-block .menu-item img {
  display: none;
}

#side-bar .side-block .collapsible-block-folded {
  background: none;
}

#side-bar .side-block .collapsible-block-folded a.collapsible-block-link {
  margin-left: 0;
}

#side-bar .side-block .collapsible-block-folded a.collapsible-block-link::before,
#side-bar .side-block .menu-item img + a::before,
#interwiki .side-block .menu-item img + a::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 2px;
  filter: hue-rotate(70deg);
}

#side-bar .side-block .menu-item img[src *= "default"] + a::before,
#interwiki .side-block .menu-item img[src *= "default"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/default.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "forum"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/forum.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "help"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/help.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "home"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/home.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "main"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/main.png") 0 2px no-repeat;
}

#side-bar .side-block .menu-item img[src *= "series"] + a::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/series.png") 0 2px no-repeat;
}

#side-bar .side-block .collapsible-block-folded a.collapsible-block-link::before {
  background: url("http://scp-jp.wikidot.com/local--files/nav:side/expand.png") 0 2px no-repeat;
}
